$cm-product-assets-slideshow-aspect-ratio: (1, 1) !default;
$cm-product-assets-slideshow-aspect-ratio-portrait: (3, 4) !default;
$cm-product-assets-slideshow-aspect-ratio-landscape: (4, 3) !default;
$cm-product-assets-carousel-aspect-ratio: (1, 1) !default;
