// Styles
.#{$cm-details-prefix} {

  &__headline {
    margin-top: 15px;
  }

  &__media-box {
    @include aspect-ratio-box(5, 2);
  }
}

.cm-related,
.cm-comments {
  margin: 0 auto;
  width: 70%;
}

.cm-related {
  .#{$cm-teasable-prefix} {
    // hide CTA for normal teasers in related view
    &__cta {
      display: none;
    }
  }
}
