// Hero Teaser
// =====================================================================================================================

//Customize the _hero.scss with additional styles
.#{$cm-hero-prefix} {
  &__picture-box {
    @include aspect-ratio-box(5, 2);

    @include breakpoint(xs, portrait) {
      @include aspect-ratio-box(3, 4);
    }

    @include breakpoint(sm, landscape) {
      @include aspect-ratio-box(16, 9);
    }

    @include breakpoint(sm, portrait) {
      @include aspect-ratio-box(1, 1);
    }
  }

  &__caption {
    top: 0;
    bottom: 0;
  }

  &__cta,
  &__headline,
  &__text {
    margin-bottom: 0;
  }

  &__info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    background-color: rgba(255,255,255,0.8);
  }

  &__headline {
    position: absolute;
    top: 0;
    left: 0;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    text-shadow: none;
    padding: .433333rem .93333rem .566667rem .93333rem;
    font-size: 1.2rem;
    line-height: 1.4rem;

    @include breakpoint(sm) {
      padding: .36rem .54em;
      font-size: 1.46rem;
      line-height: 1.8rem;
    }

    @include breakpoint(xs) {
      padding: .3rem .45rem;
      font-size: 1.2rem;
      line-height: 1.46rem;
    }
  }

  &__cta {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  @include breakpoint(md) {
    &:hover .cm-button-group--shopnow {
      display: block;
    }
  }
}
