.#{$cm-imagemap-prefix} {
  position: relative; /* for quickinfo element */

  &__quickinfo {
    position: absolute;
    @include breakpoint(sm) {
      &.cm-quickinfo--active {
        position: static;
      }
    }
    @include breakpoint(md) {
      // reset to normal behaviour for desktop
      @include center-absolute();
      z-index: 4;
    }
  }

  &__button-group {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &__areas,
  &__area,
  &__hotzone,
  &__quickinfo {
    @include breakpoint(xs) {
      display: none;
    }
  }

  &__headline {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image.cm-aspect-ratio-box {
    @include aspect-ratio-box(8, 3);
  }
}

.#{$cm-imagemap-overlay-prefix} {
  text-align: right;
  font-style: normal;
  font-size: 1.2rem;

  &--theme-light-on-dark {
    background-color: rgba(0, 0, 0, 0.65);
  }

  &--theme-dark-on-light {
    background-color: rgba(255, 255, 255, 0.65);
  }

  a {
    display: block;
    color: inherit;
    padding: 2px 10px;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover &__item--title {
    text-decoration: underline;
  }
}
