@include extjs-button-medium-ui(
  $ui: "sg-light",
  $color: #000,
  $glyph-color: #000,
  $background-color: rgba(0, 0, 0, 0.05),
  $background-color-over: rgba(0, 0, 0, 0.1),
  $background-color-pressed: rgba(0, 0, 0, 0.3),
  $border-width: 0
);

@include extjs-button-medium-ui(
  $ui: "sg-dark",
  $color: #FFF,
  $glyph-color: #FFF,
  $background-color: rgba(0, 0, 0, 0.3),
  $background-color-over: rgba(0, 0, 0, 0.4),
  $background-color-pressed: rgba(0, 0, 0, 0.6),
  $border-width: 0
);

@include extjs-button-small-ui(
  $ui: "sg-icon",
  $background-color: $cm-blue-5,
  $border-radius: $cm-grid-100
);

@include extjs-button-medium-ui(
  $ui: "sg-icon",
  $background-color: $cm-blue-5,
  $border-radius: $cm-grid-100
);

@include extjs-button-large-ui(
  $ui: "sg-icon",
  $background-color: $cm-blue-5,
  $border-radius: $cm-grid-100
);
