/*
Container
========================================================================================================================

Contains styling definitions for all content types as cm-container.
- cm-container
*/

.#{$prefix}container {
  position: relative;
  width: 100%;
  z-index: 1; //fix CMS-5405 - to keep inner elements with different z-index inside this container

  &__more {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: palette(white);
    font-size: 3rem;
    text-align: center;

    .glyphicon-chevron-down {
      cursor: pointer;
      transition: all .1s cubic-bezier(0, 0, 0.8, 3);
    }

    .glyphicon-chevron-down:hover {
      top: 4px;
      padding-top: 5px; //prevent element jumping
    }
  }

  > :not(.#{$prefix}container) {
    @include center-margin(x);
    max-width: $screen-max;
  }

  &--superhero {
    height: 100vh;
    overflow: hidden; //fix the 100vw overflow in firefox
  }

  &--gap {
    border-top: 13px solid $brand-primary;
    border-bottom: 13px solid $brand-primary;

    @include breakpoint(md) {
      border: none;
    }
  }

  &--superhero,
  &--gap {
    > :not(.#{$prefix}container) {
      max-width: none;
    }
  }

  // add margin around claims (no overlay with header)
  &--claim {
    margin: $logo-size-mobile 0;

    @include breakpoint(sm-and-up) {
      border: none;
    }
  }

  /* todo: change classes below */
  /* container with different paddings */
  &--default,
  &--details {
    > :not(.#{$prefix}container):first-child {
      margin-top: $padding-base-horizontal;
    }

    > :not(.#{$prefix}container):last-child {
      margin-bottom: $padding-base-horizontal;
    }

    @include breakpoint(sm-and-up) {
      > :not(.#{$prefix}container):first-child {
        margin-top: $padding-large-vertical;
      }

      > :not(.#{$prefix}container):last-child {
        margin-bottom: $padding-large-vertical;
      }
    }
  }

  &--square,
  &--medialist {
    > :not(.#{$prefix}container):first-child {
      margin-top: $padding-base-horizontal;
    }

    > :not(.#{$prefix}container) {
      padding-left: $padding-base-horizontal;
    }

    @include breakpoint(sm-and-up) {
      > :not(.#{$prefix}container):first-child {
        margin-top: $padding-large-vertical;
      }

      > :not(.#{$prefix}container) {
        padding-left: $padding-large-vertical;
      }
    }
  }

  &--square &__item {
    margin: 0 $padding-base-horizontal $padding-base-horizontal 0;

    @include breakpoint(sm-and-up) {
      margin: 0 $padding-large-vertical $padding-large-vertical 0;

      &.is-last {
        margin: 0 $padding-large-vertical $padding-large-horizontal 0;
      }
    }
  }
}
