.#{$cm-search-prefix} {

  /* resultpage */
  &--results {
    padding: 0 $padding-base-vertical;
    min-height: 70vh;
  }

  &__headline {
    margin-top: 0;
  }

  &__status span {
    font-weight: bold;
  }

  &__form {

    & form {
      @include breakpoint("xs") {
        position: relative;
      }
    }

    &-input {
      padding: 5px 30px 4px 10px;
      border: 1px solid #000;

      @include breakpoint("xs") {
        width: 100%;
      }

      @include breakpoint("md") {
        width: 350px;
      }
    }

    &-button {
      @extend .glyphicon;
      @extend .glyphicon-search;

      position: absolute;
      background-color: #fff;
      border: none;
      right: 4px;
      top: 7px;
      color: palette(grey);
      transition: unset;

      & span {
        display: none;
      }
    }
  }

  &__status {
    @include breakpoint("sm-and-up") {
      height: 24px;
    }
  }

  &__sort {
    height: 55px;

    &--dropdown {
      border: 1px solid #000;
    }
  }

  /* filter */
  &__filter {

    &-title {
      // smaller font on tablet
      @include breakpoint("sm") {
        font-size: font-format(h3, mobile);
      }

      &-icon {
        @extend .glyphicon;
        transform: rotate(180deg);
        transition: all 0.2s ease;
      }

      &--list-collapsed &-icon {
        transform: rotate(0deg);
        transition: all 0.2s ease;
      }
    }

    &-switch {
      &-button {
        @extend .cm-button;
        @extend .cm-cta-button;
      }

      &-icon {
        @extend .glyphicon;
        @extend .glyphicon-filter;
        float: right;
        margin: 3px 0 0 5px;
      }
    }

    &-all-icon {
      @extend .glyphicon;
      // set explicit glyphicon-arrow-left
      &:before {
        content: "\E091";
      }
    }

    &-popup {
      &-close {
        border: none;
        background: #fff;

        i {
          @extend .glyphicon;
          @extend .glyphicon-remove;
        }

        span {
          display: none;
        }
      }

      &--active {
        @include breakpoint("xs") {
          margin-top: -30px;
          border-bottom: 3px solid #000;
        }
      }
    }

    &-list {

      &-link {
        font-weight: normal;
        margin-bottom: 0;

        &--checked {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-checkbox {
        display: none;

        &-icon {
          @extend .glyphicon;
          @extend .glyphicon-unchecked;
          font-size: 90%;
          color: $text-color;

          &--checked:before {
            content: "\E067";
          }
        }
      }
    }
  }

  /* search results */
  &-result {
    &__item {
      padding-bottom: $padding-large-vertical;
      margin-bottom: $padding-large-vertical;
      @include clearfix();
      @include spacer($brand-primary);

      @include breakpoint(sm-and-up) {
        padding-bottom: 0;
      }
    }

    &__caption {
      h3 a {
        color: $brand-primary;
        margin: 0;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin: $padding-base-vertical 0 $padding-small-vertical 0;
      }
    }
  }

  /* search form */
  &--form {
    @include breakpoint(sm-and-up) {
      margin-top: 2px;
    }
  }

  &__input {
    background: palette(white);
    width: 99%;
    margin: 0;
    padding: 2px 30px 2px 0;
    border: none;
    border-bottom: 1px solid palette(grey);
    border-radius: 1px;
    font-style: italic;
    color: palette(grey);
    opacity: 1;

    &:focus {
      border-bottom: 2px solid palette(grey);

      ~ .#{$prefix}search__button {
        color: palette(grey);
      }
    }

    @include breakpoint(sm-and-up) {
      background: rgba(255, 255, 255, 0.5);
      width: 115px;
      padding: 2px 30px 2px $padding-base-vertical;
      border-bottom: none;
      transition: all $transition-duration ease(in-out-quad);

      // input field is focused or navigation is openend, background will change to white with some transparency
      .#{$prefix}header--open &,
      &:focus,
      &.focus {
        width: $cm-search-input-width;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom: 0;
      }

      &:focus {
        background-color: #fff;
      }

      // if input field is focused and navigation is not openend, background will change to white
      .#{$prefix}header--open &:focus {
        background: palette(white);
      }
    }

    @include breakpoint(sm) {
      // input field is smaller for narrow tablet view, since login/registration links where added
      .#{$prefix}header--open &,
      &:focus,
      &.focus {
        width: $cm-search-input-width * 5 / 6;
      }
    }

    &::placeholder {
      font-style: italic;
      color: palette(grey, light);
      opacity: 1;
    }
  }

  &__button {
    position: relative;
    left: -34px;
    margin: 0 -30px 0 0;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    padding: 0;
    color: palette(grey, light);

    &-icon {
      @extend .glyphicon;
      @extend .glyphicon-search;
      top: 2px;
    }

    &-label {
      display: none;
    }
  }

  /* load more results button */
  &__more {
    @extend .cm-button;
    @extend .cm-cta-button;
    display: block;
    margin: $padding-large-vertical auto;
  }

  &__loading {
    height: 48px; //same height as button to avoid jumping of page
    margin: $padding-large-vertical auto;
  }

  /* pagination */
  &__pagination {

    &-first,
    &-prev,
    &-next,
    &-last {
      @extend .cm-button;
      @extend .cm-cta-button;
    }

    &-index {
      border: 1px solid #fff;
    }
  }
}
