/*
Video
========================================================================================================================

Contains styling definitions for videos.
*/

.#{$prefix}superhero--video {
  .#{$prefix}superhero__picture-box {
    // hide on desktop, only if video exist
    @include breakpoint(md) {
      display: none;
    }

    .#{$prefix}image--responsive {
      height: 100%;
      background-size: cover;
    }
  }

  .#{$prefix}superhero__video {
    // hide on mobile and tablet, show on desktop only
    display: none;
    @include breakpoint(md) {
      display: inline-block;
    }

    position: absolute;
    top: 0;  left: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    // center via object fit
    //
    @supports (object-fit: cover) {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  // hide dimmer for videos on desktop, because we're showing the background video
  .#{$prefix}superhero__dimmer {
    @include breakpoint(md) {
      display: none;
    }
  }
}
