.#{$prefix}panel-sg-tree {
  .#{$prefix}grid-item {
    background-color: transparent;
    color: white;
    font-size: $cm-font-size-medium;
    padding: $cm-grid-100/2 0;
  }

  .#{$prefix}grid-item-over {
    background-color: $cm-blue-8;
  }

  .#{$prefix}grid .#{$prefix}grid-item-selected .#{$prefix}grid-item-focused {
    background-color: transparent;
  }

  .#{$prefix}grid-item-focused {
    color: $cm-white;
  }

  .#{$prefix}grid-item-focused .#{$prefix}grid-cell-inner:before {
    border-color: $cm-blue-8;
  }

  .#{$prefix}grid-item-selected {
    background-color: $cm-blue-8;
  }

  .#{$prefix}grid-cell--sg-disabled > .#{$prefix}grid-cell-inner {
    > .#{$prefix}tree-node-text,
    > .#{$prefix}tree-icon {
      color: $cm-grey-3;
    }
  }
}
