@include cm-container-ui(
  $ui: "sg-light"
);

@include cm-container-ui(
  $ui: "sg-dark",
  $background-color: rgba(0, 0, 0, 0.5)
);

@include cm-container-ui(
  $ui: "sg-medium",
  $background-color: rgba(0, 0, 0, 0.25)
);

@include cm-container-ui(
  $ui: "sg-background-blue",
  $background-color: $cm-blue-5
);

@include cm-container-ui(
  $ui: "sg-pattern",
  $background-image: repeating-linear-gradient(
      -55deg,
      #444,
      #444 10px,
      #555 10px,
      #555 20px
  )
)

@include cm-container-ui(
  $ui: "sg-line-horizontal",
  $background-color: $cm-grey-2
);

@include cm-container-ui(
  $ui: "sg-line-horizontal-light",
  $background-color: transparent,
  $border-width: 1px,
  $border-color: $cm-grey-1,
  $border-style: dashed
);