//default variables
$cm-hero-prefix: "cm-hero" !default;
$cm-hero-headline-color: #000000 !default;
$cm-hero-picture-background-color: transparent !default;
$cm-hero-caption-bottom: 5.25% !default;
$cm-hero-padding-base-horizontal: 15px !default;
$cm-hero-padding-large-horizontal: 45px !default;
// The default aspect ratio for all screen sizes
$cm-hero-media-aspect-ratio: (4, 3);
// A map to be passed to helper mixin "aspect-ratio-box-by-breakpoint" when generating styles for the teaser
// Please check the mixin for additional information about the structure of the map
$cm-hero-media-aspect-ratio-by-breakpoint: ("xs-and-up": $cm-hero-media-aspect-ratio) !default;
// specifies if a dimmer should be shown over the picture
$cm-hero-dimmer-enable: true !default;
// if enabled, specifies the opacity of the dimmer
$cm-hero-dimmer-opacity: 0.7 !default;
