<div id="campaigns">
{{ if eq (getv "/campaign/enabled" "true") "true" }}
  <h2>Campaign-Service</h2>
  <ul class="box">
    <li>Campaign Tenant Id <code>{{ getv "/studio/campaign/app/tenantid" }}</code></li>
    <li>Campaign Delivery Endpoint <code>{{ getv "/campaign/delivery/endpoint" }}</code></li>
    <li>Campaign Preview Auth Token <code>{{ getv "/campaign/preview/authorization/id" }}</code></li>
    <li>Campaign Delivery Auth Token <code>{{ getv "/campaign/delivery/authorization/id" }}</code></li>
    <li>Campaign Management Endpoint <code>{{ getv "/studio/campaign/app/graphqlendpoint" }}</code></li>
  </ul>
{{end}}
</div>
