<div>
  <h2>Repository IORs</h2>
  <ul>
      <li><a href="http://{{ getv "/environment/fqdn" }}:40180/ior" target="_blank" data-cm-test="">Content Management Server IOR</a> <code>http://{{ getv "/environment/fqdn" }}:40180/ior</code></li>
      <li><a href="http://{{ getv "/environment/fqdn" }}:40280/ior" target="_blank" data-cm-test="">Master Live Server IOR</a> <code>http://{{ getv "/environment/fqdn" }}:40280/ior</code></li>
      <li><a href="http://{{ getv "/environment/fqdn" }}:40380/ior" target="_blank" data-cm-test="">Workflow Server IOR</a> <code>http://{{ getv "/environment/fqdn" }}:40380/ior</code></li>
  </ul>

  <h2>Databases</h2>
  <ul>
      <li>MongoDB <code>{{ getv "/environment/fqdn" }}:27017</code></li>
      <li>Content Management Server <code>jdbc:mysql://{{ getv "/environment/fqdn" }}:3306/cm_management</code></li>
      <li>Master Live Server <code>jdbc:mysql://{{ getv "/environment/fqdn" }}:3306/cm_master</code></li>
  </ul>

  <h2>Headless Server</h2>
  <ul>
    <li><a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/graphiql" target="_blank" data-cm-test="">Headless Server GraphiQL</a></li>
    <li><a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/swagger-ui.html" target="_blank" data-cm-test="">Headless Server Swagger UI</a></li>
    <li><a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/graphql">Headless Server GraphQL Endpoint URL Preview</a></li>
    <li><a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/graphql">Headless Server GraphQL Endpoint URL Live</a></li>
    {{ if eq (getv "/headless/client/enabled" "true") "true" }}
    <li><a href="https://headless-server-commerce.{{ getv "/environment/fqdn" }}/graphiql" target="_blank" data-cm-test="">Headless Commerce GraphiQL</a></li>
    <li><a href="https://headless-server-commerce.{{ getv "/environment/fqdn" }}/swagger-ui.html" target="_blank" data-cm-test="">Headless Commerce Swagger UI</a></li>
    <li><a href="https://headless-server-commerce.{{ getv "/environment/fqdn" }}/graphql">Headless Commerce GraphQL Endpoint URL</a></li>
    <li><a href="https://headless-server-stitching-preview.{{ getv "/environment/fqdn" }}/graphiql?query=query%20%7B%0A%20%20content%20%7B%0A%20%20%20%20__typename%0A%20%20%7D%0A%20%20commerce%20%7B%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D" target="_blank" data-cm-test="">Headless Stitching GraphiQL</a></li>
    <li><a href="https://headless-server-stitching-preview.{{ getv "/environment/fqdn" }}/graphql">Headless Stitching GraphQL Endpoint URL Preview</a></li>
    <li><a href="https://headless-server-stitching-live.{{ getv "/environment/fqdn" }}/graphql">Headless Stitching GraphQL Endpoint URL Live</a></li>
    {{end}}
  </ul>
</div>
