/*
Grid
========================================================================================================================

Contains styling definitions for all content types as cm-grid.
- cm-grid
- cm-grid--corporate-homepage
- cm-grid--corporate-detailpage
- cm-grid--corporate-detailpage--sidebar
- cm-grid--with-superhero
- cm-grid--disabled-scrolling
- cm-javascript
*/

.cm-grid {
  max-width: $screen-max;
}

.secondary-content,
.cm-row{
  .cm-container {
    &:first-child {
      padding-top: $grid-gutter-width;
    }
  }
  .cm-container {
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }
}

.cm-slot {
  margin: 0 auto;
  max-width: $screen-max;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  @include clearfix();

  &.cm-slot-main {
    max-width: inherit;
  }
}

.cm-placement {
  margin-bottom: $grid-gutter-width;

  &--header {
    margin-bottom: 0;
  }

  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

