.cm-hamburger-icon {
  &__bar1,
  &__bar2,
  &__bar3 {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: darken(#f8f8f8, 6.5%);
  }

  &__bar2,
  &__bar3 {
    margin-top: 4px;
  }
}
