/* =====================================================================================================================
   Layout for PCS
   Contains styling rules used for fragments in WCS FEP7
   use #page prefix to add these styles only to fragments
   ================================================================================================================== */

/* Page */
#page {
  overflow: hidden;
  /* for smallest mobile screen */
  margin: 0 auto;
  min-width: 320px;
  /* if there is no content in cm-placement-main megamenu will break due to overflow hidden otherwise */
  min-height: 500px;
  /* for 1280px screens - scrollbar */
  max-width: 1200px;
}

#page .cm-placement-header {
  background: #ffffff;
}

#page .cm-placement-footer {
  width: 100%;
}

/* ibm hides all iframes. we need them for youtube or vimeo videos */
#page .cm-product-assets iframe {
  display: block;
}

/* --- WCS Overrides ------------------------------------------------------------------------------------------------ */
#page .rowContainer > .row.margin-true {
  padding: 0;
}

#page .rowContainer,
#page .rowContainer > .row {
  padding: 0;
}

#page .contentRecommendationWidget .button a {
  color: #fff;
}

/* hide ibm breadcrumb, use our own instead */
#page #widget_breadcrumb {
  display: none;
}

/* websphere commcere changes */
#articleListing li.item h1,
#articleListing li.item h2 {
  margin: 0;
}

#articleListing li.item .content {
  padding: 5px 20px 15px 65px;
}

/* CMS-5980: misaligned legend in AuroraESite */
.spanacce {
  display: block;
}
