/* =====================================================================================================================
   Preview classes
   The classes are used for the preview of fragmented items in CoreMedia Studio
   ================================================================================================================== */

/* if multiple teasers are rendered next to each other simulate sidebar layout */
.cm-preview-content > .content > .cm-teaser + .cm-teaser {
  margin-top: 8px;
}

/* hero teasers always render at full width */
.cm-preview-content > .content > .cm-teaser.cm-teaser--hero {
  max-width: none;
}

/* spinner with max width in preview  */
.cm-preview-content > .content > .cm-spinner {
  max-width: 530px; /* 508px (max size of 4x3 images) + 20px padding + 2px border )*/
}

/*.cm-preview-content > .content > .cm-spinner > .cm-spinner__canvas {
  border: 1px solid #B7B7B7;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 10px #B7B7B7;
  -moz-box-shadow: inset 0 0 10px #B7B7B7;
  box-shadow: inset 0 0 10px #B7B7B7;
  background-color: #fff;
}*/

/* normal teaser's width depends on the selected device */
@media only screen  and (max-width: 599px) and (orientation: portrait) {
  .cm-preview-content > .content > .cm-teaser,
  .cm-preview-content > .content > .cm-frame--teaser {
    max-width: 320px;
  }
}

@media only screen  and (max-width: 599px) and (orientation: landscape) {
  .cm-preview-content > .content > .cm-teaser,
  .cm-preview-content > .content > .cm-frame--teaser {
    max-width: 280px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .cm-preview-content > .content > .cm-teaser,
  .cm-preview-content > .content > .cm-frame--teaser {
    max-width: 380px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .cm-preview-content > .content > .cm-teaser,
  .cm-preview-content > .content > .cm-frame--teaser {
    max-width: 508px;
  }
}

@media only screen and (min-width: 1025px) {

  .cm-preview-content > .content > .cm-teaser,
  .cm-preview-content > .content > .cm-frame--teaser {
    max-width: 395px;
  }

  /* if multiple teasers are rendered next to each other simulate sidebar layout */
  .cm-preview-content > .content > .cm-teaser + .cm-teaser {
    margin-top: 10px;
  }
}
