.cm-product-list-grid {
  .cm-category-item .cm-category-item__image {
    &.cm-teasable__picture-box {
      @include aspect-ratio-box(20, 31);
    }
  }
  .row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 0;
  }

  .row.row-grid [class*="col-"] + [class*="col-"] + [class*="col-"] {
    margin-top: 10px;
  }

  @include breakpoint(lg) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] + [class*="col-lg-"] {
      margin-top: 0;
    }
  }

  @include breakpoint(md) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] + [class*="col-md-"] {
      margin-top: 0;
    }
  }

  @include breakpoint(sm-and-up) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] + [class*="col-sm-"] {
      margin-top: 0;
    }
  }
}

.cm-category {
  &__headline {
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 130%;
      color: #010F1C;

      margin: 0;
      padding: 0;
      background-color: #F8F8F8;

      @include breakpoint(xs) {
        padding: 0.3rem 0.45rem;
      }

      @include breakpoint(sm) {
        padding: 0.36rem 0.54em;
      }

      @include breakpoint(md) {
        padding: 0.433333rem 0.93333rem 0.566667rem 0.93333rem;
      }
  }
}
