// Imports
@import "../base/imports";
@import "../utils/helper";


@import "../../../../../lib/sass/utils/banderole";
@import "../../../../../lib/sass/utils/dimmer";
@import "../../../../../lib/sass/utils/spacer";

//
// Creates the button layout, choice between a button or textlink
//
// @param: {string} The color for the text.
// @param: {string} The color for the hover effect.
// @param: {boolean} If it should be a textlink.
// @description: Returns button layout variant
// @example:
// ```
//   @include transparent-button(#fff, #000, true | false(default))
// ```
//
@mixin transparent-button($color, $hover, $isTextLink: false) {
  color: $color;
  background-color: transparent;

  @if $isTextLink == true {
    border: none;
  } @else {
    border: $button-border solid $color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $hover;

    @if $isTextLink == true {
      background-color: transparent;
    } @else {
      background-color: $color;
      border-color: $color;
    }
  }
  &:active {
    background-image: none;
  }
}

//
// Add a small arrow to a box
//
@mixin arrow($position: right, $color: palette(white)) {
  position: absolute;

  //attach to the right
  @if $position == right {
    top: 50%;
    left: 100%;
  // attach to the top
  } @else if $position == top {
    top: 0;
    left: 50%;
  // default: attach to the left
  } @else {
    top: 50%;
    left: 0;
  }

  display: block;
  margin-left: -$padding-base-vertical;
  margin-top: -$padding-base-vertical;
  background-color: $color;
  width: 2*$padding-base-vertical;
  height: 2*$padding-base-vertical;
  content: "";
  transform: rotate(45deg);
}

