// Variables
// Set variables to configure _hero.scss from default-templates brick.
// Have a look the _hero.scss for all available variables.
$cm-hero-dimmer-display: none;
$cm-hero-picture-background-color: none;
$cm-hero-headline-color: palette(white);
$cm-hero-dimmer-opacity: 0;
