/**
 * ImageMap
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styles to allow functionality to work
 */
.cm-imagemap__wrapper {
  position: relative;
  overflow: hidden;
}

.cm-imagemap__hotzone {
  position: absolute;
  z-index: 2;
  border: 0;
  padding: 0;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**
 * Text-Overlay (part of ImageMap feature)
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styling for each theme provided
 */
.cm-overlay--theme-dark {
  color: black;
  background-color: transparent;
}

.cm-overlay--theme-light {
  color: white;
  background-color: transparent;
}

.cm-overlay--theme-light-on-dark {
  color: white;
  background-color: black;
}

.cm-overlay--theme-dark-on-light {
  color: black;
  background-color: white;
}