http:
  routers:
    # traefik v1: traefik.frontend.rule: Host:overview.${ENVIRONMENT_FQDN:-docker.localhost}
    overview:
      entrypoints:
        - webaccesssecure
        - webaccessinsecure
      rule: Host(`overview.{{ env "ENVIRONMENT_FQDN"}}`)
      service: overview
    overview-insecure:
      entrypoints:
        - webaccessinsecure
      rule: Host(`overview.{{ env "ENVIRONMENT_FQDN"}}`) && Path(`/watf.properties`)
      service: overview

  services:
    overview:
      loadBalancer:
        servers:
          - url: h2c://overview:80
