http:
  routers:
    # one rule fits all for dev environments (overide of rule in default.yml)
    # traefik v1: traefik.caas.frontend.rule: Host:headless-server-live.${ENVIRONMENT_FQDN:-docker.localhost}
    headless-server-live-catch-all:
      priority: 100
      entrypoints:
        - webaccesssecure
        - webaccessinsecure
      rule: Host(`headless-server-live.{{ env "ENVIRONMENT_FQDN"}}`)
      service: headless-server-live
