@charset "UTF-8";

/**
  * coremedia asset management extension
  *
  */

/**
  * ExpirationDateSelector
  *
  * @see ExpirationDateSelector.exml
  */
.expiration-date-selector .x-form-item {
  padding-bottom: 0;
}
.expiration-date-field-wrapper .x-form-field-wrap {
  width: 100% !important;
}
input.expiration-date-field {
  width: 100% !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  height: 22px !important;
}
input.expiration-date-field + img.x-form-trigger {
  position: absolute;
  right: 0;
  top: 0;
}

/**
  * fix layout issues for tables
  *
  * @see BlobPropertyField.exml
  */
.blob-property-field--assets .blob-property-field__details {
  margin-left: 10px;
  margin-top: 24px;
}
.blob-property-field__details .x-table-layout-cell {
  white-space: nowrap;
}
.blob-property-field__details .x-table-layout-cell.boolean-property-field {
  white-space: normal;
}
.blob-property-field__details .x-table-layout-cell:nth-child(3) {
  width:100%;
}