// Contains styling definitions for all content types as cm-button.
//- cm-button
//- cm-button--primary
//- cm-button--secondary
//- cm-button--white

.#{$prefix}button {
  white-space: normal; //overwrite bootstraps nowrap for CTAs with long text
  outline: none !important; //remove bootstrap's blue shadow

  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 0;

  &:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 1);
  }

  &:active, &:focus {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 1px $btn-primary-color, inset 0 0 0 2px $btn-primary-bg;
  }

  &--prime,
  &.#{$prefix}quickinfo__controls {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;

    &:hover {
      color: $btn-primary-color;
      background-color: #4C4C4C;
      border-color: #4C4C4C;
    }

    &:active, &:focus {
      color: $btn-primary-color;
      box-shadow: inset 0 0 0 1px $btn-primary-bg, inset 0 0 0 2px $btn-primary-color;
    }
  }

  &--secondary {
    &:hover {
      background-color: #EEEEEE;
    }

    &:active, &:focus {
      box-shadow: inset 0 0 0 1px $btn-default-bg, inset 0 0 0 2px $btn-default-color;
    }
  }

  &--primary,
  &.#{$prefix}quickinfo__controls {
    text-transform: uppercase;
    padding: 14px;
  }

}


// shop-now buttons (hidden on mobile)
.cm-button-group--shopnow {
  display: none;
  .cm-button-group__button {
    min-width: 105px;
  }

  @include breakpoint(md){
    :hover > & {
      display: block;
    }
  }
}
