//Theme special styles
.#{$cm-footer-prefix},
.#{$cm-footer-navigation-prefix} {
  font-family: $font-family-base;
  clear: left;

  &__link {
    font-size: $font-size-normal;
    &:focus {
      color: $cm-footer-color;
    }
  }
}

.#{$cm-footer-navigation-prefix}-column {

  font-size: $font-size-normal;
  &__title {
    font-size: $font-size-large;
    line-height: 20px;
  }
}
