/* hero teaser container */
.cm-container--hero {
  margin-bottom: $cm-hero-default-size*2;
}

/* hero teaser */
.#{$cm-hero-prefix} {
  font-family: $font-family-serif;

  &__picture-box {
    @include aspect-ratio-box(1, 1);

    @include breakpoint(sm-and-up) {
      @include aspect-ratio-box(2.35, 1);
    }
  }

  &__banderole {
    margin: 0;

    a:hover {
      text-decoration: none;
    }
  }

  &__headline {
    font-size: $font-size-h1;
    text-transform: uppercase;
    padding-bottom: $cm-hero-default-size/2;
  }

  &__text {
    line-height: $cm-hero-default-size;
    padding-bottom: $cm-hero-default-size;
  }

  &__dimmer {
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 50%, rgba(51, 51, 51, 0.65) 100%);
  }

  .cm-quickinfo {
    display: none;
  }

  .cm-product-info {
    width: 100%;
    padding-bottom: 24px;

    &__title {
      display: none;
    }
    &__pricing {
      display: inline-block;

      .cm-price {
        color: #FFFFFF;
      }
    }
  }
}
