// Changes to default pdp styles
.cm-product-assets {
  .cm-slideshow--carousel-chooser {
    margin-top: 12px;

    .cycle-slide-active {
      background-color: $cm-standard-component-background-color;
      border: 1px solid $border-color-default;
      padding: 1px;
    }

    .cm-teasable {
      padding: 0;
      margin: 0;
    }
  }
}

.cm-product-assets-downloads {
  &__title {
    font-size: $font-size-normal;
    color: $text-color;
    font-weight: bold;
  }

  &__item {
    font-size: $font-size-normal;
  }
}
