.#{$cm-responsive-carousel-prefix} {

  // make the carousel behave like abootstrap grid
  @include breakpoint(md) {
    width: 970px;
  }

  @include breakpoint(lg) {
    width: 1170px;
  }

  margin-left: auto;
  margin-right: auto;
  padding-left: $cm-standard-spacing;
  padding-right: $cm-standard-spacing;

  margin-bottom: 48px;

  .cm-teasable__headline {
    text-transform: uppercase;
  }

  .cm-teasable__caption {
    font-size: inherit;
    padding-left: 0;
    padding-right: 0;
    margin-top: 24px;
  }

  // shop now button
  .cm-teasable {
    .cm-button-group--shopnow {
      font-size: $cm-responsive-carousel-item-font-size;
      padding-top: calculatePaddingTop(1, 1 / 2);
    }
  }

  .slick-list {
    @include breakpoint(sm) {
      margin-left: 62px - $cm-responsive-carousel-item-margin;
      margin-right: 62px - $cm-responsive-carousel-item-margin;
    }
    @include breakpoint(md) {
      margin-left: 80px - $cm-responsive-carousel-item-margin;
      margin-right: 80px - $cm-responsive-carousel-item-margin;
    }
    @include breakpoint(lg) {
      margin-left: 96px - $cm-responsive-carousel-item-margin;
      margin-right: 96px - $cm-responsive-carousel-item-margin;
    }
  }
}

// make the carousel behave like abootstrap grid
.container > .#{$cm-responsive-carousel-prefix} {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
