.#{$cm-search-prefix} {
  /* -- search form --- */
  .#{$cm-search-prefix}-form {
    .search_input {
      display: none;
      padding: 6px 12px;
      color: #555555;
      border: 1px solid $border-color-default;
      border-radius: 2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

      &:focus {
        border-color: $text-color;
        outline: none;
        box-shadow: inset 0 0 0 1px $body-bg, inset 0 0 0 2px $text-color;
      }

      @include breakpoint("md") {
        display: inline-block;
      }
    }

    &__fieldset {
      position: relative;
    }

    .search_label,
    .cm-popup--search-suggestions {
      display: none;
    }

    &__button {
      position: absolute;
      border: none;
      top: 8px;
      right: 6px;
      width: 16px;
      height: 16px;

      background: url("../../img/magnifier.svg") no-repeat center center transparent;
      background-size: 32px;

      & i {
        display: none;
      }
    }
  }

  &__open-mobile-search-button {
    display: none;
    position: absolute;
    width: 36px;
    height: 32px;
    top: 10px;
    right: 40px;
    background: url("../../img/magnifier.svg") no-repeat center center transparent;

    &:hover {
      background-color: transparent;
    }

    @include breakpoint("sm-and-down") {
      display: block;
    }
  }

  // initially hide mobile search...
  @include breakpoint("sm-and-down") {
    display: none;

    // ... and show it if magnifier icon if clicked
    &.open {
      display: block;
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0 60px 0 0;
      top: 0;
      bottom: 0;
      background-color: $body-bg;

      .search_input {
        display: inline-block;
      }

      & #SimpleSearchForm_SearchTerm.search_input {
        height: 48px;
        width: 100%;
        border: none;
        font-size: 20px;
        color: $text-color;
        box-shadow: none;

        &:focus {
          box-shadow: none;
        }
      }

      & .cm-search-form__button {
        right: -50px;
        width: 36px;
        height: 32px;
        background-size: auto;
      }
    }
  }

  @include breakpoint("md") {
    padding-left: 0;
  }

  /* --- enhanced search brick --- */
  &__headline {
    text-transform: uppercase;
  }

  &__status {
    @include breakpoint("sm-and-up") {
      height: 20px;
    }
  }

  &__form {

    & form {
      @include breakpoint("xs") {
        position: relative;
      }
    }

    &-input {
      width: 100%;

      @include breakpoint("sm-and-up") {
        width: 250px;
      }
    }

    &-button {
      position: absolute;
      border: none;
      top: 8px;
      right: 6px;
      width: 16px;
      height: 16px;

      background: url("../../img/magnifier.svg") no-repeat center center transparent;
      background-size: 32px;

      span {
        display: none;
      }
    }
  }

  &--results {
    display: block;
    min-height: 50vh;
    margin-bottom: 96px;
  }

  &-result {
    &__title {
      text-transform: uppercase;
    }

    &__image {
      display: block; // do not hide image on mobile
    }

    &__picture-box {
      @include aspect-ratio-box(20, 31);

      @include breakpoint("sm-and-up") {
        @include aspect-ratio-box(4, 3);
      }
    }
  }

  &__more {
    @extend .cm-cta-button;
    display: block;
    margin: 0 auto;
  }

  &__sort {
      height: 74px;
  }

  &__sort--dropdown {
    height: 34px;
    border: 1px solid #000;
    border-radius: 2px;
  }

  &__filter {

    &-title {
      text-transform: uppercase;

      &-icon {
        @extend .glyphicon;
        transform: rotate(180deg);
        transition: all 0.2s ease;
        vertical-align: text-top;
      }

      &--list-collapsed &-icon {
        transform: rotate(0deg);
        transition: all 0.2s ease;
      }
    }

    &-list {
      &-item {
        line-height: 1.714;
      }

      &-link {
        font-weight: normal;
        margin: 0;

        &--checked {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-checkbox {
        display: none;

        &-icon {
          @extend .glyphicon;
          @extend .glyphicon-unchecked;
          font-size: 90%;
          color: $text-color;

          &--checked:before {
            content: "\E067";
          }
        }
      }
    }

    &-switch {
      &-button {
        @extend .cm-cta-button;
      }

      &-icon {
        @extend .glyphicon;
        @extend .glyphicon-filter;
        float: right;
        margin: 3px 0 0 5px;
      }
    }

    &-all-icon {
      @extend .glyphicon;
      font-size: 80%;
      // set explicit glyphicon-arrow-left
      &:before {
        content: "\E091";
      }
    }

    &-popup {
      &-close {
        border: none;
        background: $cm-standard-component-background-color;

        i {
          @extend .glyphicon;
          @extend .glyphicon-remove;
        }

        span {
          display: none;
        }
      }

      &--active {
        @include breakpoint("xs") {
          padding-top: 50px;
        }
      }
    }
  }

  /* pagination */
  &__pagination {

    &-first,
    &-prev,
    &-next,
    &-last {
      @extend .cm-button;
      @extend .cm-cta-button;
    }

    &-index {
      border: 1px solid #FFFFFF;
    }
  }
}

/* --- wcs search result tabs --- */
.#{$prefix}wcs-tabs {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  line-height: 28px;
  border-bottom: 1px solid $border-color-default;

  @include breakpoint(sm-and-up) {
    margin-top: $cm-standard-spacing;
  }

  &__tab {
    float: left;

    & a {
      padding: 10px 30px;
      margin-right: 2px;

      &:hover {
        border-bottom: 3px solid $border-color-default;
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }

    &.active a {
      border-bottom: 3px solid $border-color-default;
      cursor: default;
    }
  }
}
