// Variables
// Set variables to configure _detail.scss from default-templates brick.
// Have a look the _detail.scss for all available variables.
$cm-details-padding-large-horizontal: $padding-large-horizontal;
$cm-details-margin-large-horizontal: $padding-large-horizontal;
$cm-details-padding-large-vertical: $padding-large-vertical;
$cm-details-padding-base-vertical: $padding-base-vertical;
