// variables
$cm-reviews-margin-bottom: $padding-large-vertical;

$cm-user-chooser-padding-base-vertical: $padding-base-vertical;
$cm-user-chooser-line-height: $line-height-computed;
$cm-user-chooser-padding-base-horizontal: $padding-base-horizontal;
$cm-user-chooser-items-top: $logo-size;
$cm-user-chooser-items-background-color: $header-color-bg;

$cm-rating-statistics-color: $brand-primary;

$cm-notification-color-error: palette(red);
$cm-notification-color-info: palette(blue);
$cm-notification-color-sucess: palette(green);
$cm-notification-color-warning: palette(orange);
