// Set variable to configure _hero.scss from default-templates brick.
// Have a look the _hero.scss for all available variables.

$cm-hero-headline-color: palette(white);
$cm-hero-picture-background-color: $brand-primary;
