// Set variable to configure _teaser.scss from default-templates brick.
// Have a look the _teaser.scss for all available variables.

$cm-image-prefix: "cm-image";
$cm-image-missing-background: $brand-primary;
$cm-image-blank-background: $brand-primary;
$cm-image-loading-background: palette(grey, lighter);
