// Set variable to configure _teaser.scss from default-templates brick.
// Have a look the _teaser.scss for all available variables.

$cm-teasable-prefix: "cm-square";
$cm-teasable-headline-color: palette(white);
$cm-teasable-dimmer-background-color: palette(black);
$cm-teasable-picture-background-color: palette(red, light);
