$cm-tag-padding-base-vertical: $padding-base-vertical;
$cm-tag-padding-base-horizontal: $padding-base-horizontal;
$cm-tag-padding-small-vertical: $padding-small-vertical;
$cm-tag-item-background-color: $brand-primary;
$cm-tag-item-border-color: $brand-primary;
$cm-tag-item-color: palette(white);
