body.x-body {
  background-color: transparent;
  background-size: 10px 10px;
  background-repeat: repeat;
  background-image: linear-gradient(to right, #efefef 1px, transparent 1px), linear-gradient(to bottom, #efefef 1px, transparent 1px);
  background-attachment: fixed;
}

@include extjs-panel-ui(
  $ui: "sg-headline",
  $ui-header-background-color: $cm-blue-8,
  $ui-header-font-size: $cm-font-size-medium * 2,
  $ui-header-line-height: $cm-font-size-medium * 3,
  $ui-header-font-family: $cm-font-family,
  $ui-header-font-weight: $cm-font-weight,
  $ui-header-color: $cm-white,
  $ui-body-background-color: transparent
);

@include extjs-panel-ui(
  $ui: 'sg-dark',
  $ui-header-background-color: transparent,
  $ui-header-color: $cm-black,
  $ui-body-background-color: transparent,
  $ui-header-padding: $cm-grid-100 0 0 0,
  $ui-header-font-weight: $cm-font-weight
);

@include extjs-panel-ui(
  $ui: 'sg-medium',
  $ui-header-background-color: transparent,
  $ui-header-color: $cm-grey-8,
  $ui-body-background-color: transparent,
  $ui-header-padding: $cm-grid-100 0 0 0,
  $ui-header-font-weight: $cm-font-weight
);

@if $cm-include-tab-sg-tabpanel {
  $_ui: "sg-tabpanel";
  $_ui-background-color: $cm-blue-8;
  @include extjs-panel-ui(
    $ui: $_ui,
    $ui-header-background-color: $_ui-background-color,
    $ui-header-font-size: $cm-font-size-medium * 2,
    $ui-header-line-height: $cm-font-size-medium * 3,
    $ui-header-font-family: $cm-font-family,
    $ui-header-font-weight: $cm-font-weight,
    $ui-header-color: $cm-white,
    $ui-header-glyph-color: $cm-white,
    $ui-body-background-color: $cm-white,
    $ui-header-icon-width: $cm-font-size-medium * 2,
    $ui-header-icon-height: $cm-font-size-medium * 2
  );
}

@include extjs-panel-ui(
  $ui: "sg-template",
  $ui-padding: 0 $cm-grid-200,
  $ui-header-background-color: $cm-blue-5,
  $ui-header-font-size: $cm-font-size-medium * 2,
  $ui-header-line-height: $cm-font-size-medium * 3,
  $ui-header-font-family: $cm-font-family,
  $ui-header-font-weight: $cm-font-weight,
  $ui-header-color: $cm-white,
  $ui-body-background-color: transparent
);

@include extjs-panel-ui(
  $ui: "sg-placeholder",
  $ui-header-background-color: transparent,
  $ui-body-background-color: transparent
);

@include extjs-panel-ui(
  $ui: "sg-base",
  $ui-padding: 0 $cm-grid-200,
  $ui-header-background-color: $cm-blue-5,
  $ui-header-font-weight: $cm-font-weight,
  $ui-header-color: $cm-white,
  $ui-body-background-color: rgba(0, 0, 0, 0.05)
);

@include cm-panel-ui(
  $ui: "sg-base",
  $body-padding: $cm-grid-200
);

@include extjs-panel-ui(
  $ui: "sg-base-light",
  $ui-padding: 0 $cm-grid-200,
  $ui-header-background-color: $cm-blue-5,
  $ui-header-font-weight: $cm-font-weight,
  $ui-header-color: $cm-white,
  $ui-body-background-color: rgba(0, 0, 0, 0.85)
);

@include cm-panel-ui(
  $ui: "sg-base-light",
  $body-padding: $cm-grid-200
);

@include extjs-panel-ui(
  $ui: "sg-simple",
  $ui-header-background-color: $cm-grey-4,
  $ui-header-font-weight: $cm-font-weight,
  $ui-header-color: $cm-blue-5,
  $ui-body-background-color: transparent,
  $ui-tool-glyph-color: $cm-blue-5
);

@include extjs-panel-ui(
  $ui: "sg-tree",
  $ui-body-background-color: transparent,
  $ui-padding: $cm-grid-200 0,
  $ui-border-color: transparent,
  $ui-header-font-size: $cm-font-size-medium,
  $ui-header-color: $cm-white
);