// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";
// Only used for elastic social

.cm-box {
  box-sizing: border-box;
  .cm-headline {
    .cm-teaser--hero--picture {
      .cm-teaser--hero__banderole {
        display: none;
      }
    }
  }

  &__content {
    @include breakpoint(xs) {
      margin: 16px 12px;
    }
    @include breakpoint(sm) {
      margin: 14px 16px;
    }
    @include breakpoint(md) {

      margin: 23px 16px 13px;
    }
  }

  &__header {
    @include breakpoint(md) {
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  }
}