
.cm-popup-button--active {
  background-color: #E5E5E5;
  @include breakpoint(md) {
    background-color: transparent;
  }
}

/* cart */
.cm-popup--cart {
  margin-top: 5px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #919191;
  color: #474747;
  width: 416px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.cm-cart {
  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 3;
    border: none;
    background: transparent;
    padding: 0;
    .cm-icon__symbol {
      content: "";
      margin: 0;
      width: 20px;
      height: 20px;
      font-size: 1.2rem;
      background-color: transparent;
      color: #373737;
      z-index: 2;
      &:before {
        line-height: 1;
      }
    }
  }

  &__list {
    margin-top: 33px;
    border-top: 1px solid #919191;
  }

  &__item,
  &__footer {
    padding: 8px;
  }

  &__item {
    border-bottom: 1px solid #919191;
    & ~ .cm-cart__empty {
      display: none;
    }
  }

  &__footer {
    line-height: 1.5rem;
    text-align: right;
  }

  &-item {
    font-size: 0;
    position: relative;
    &__image.cm-aspect-ratio-box {
      @include aspect-ratio-box(20, 31);
    }
  }

  &-item__image,
  &-item__properties {
    font-size: 1rem;
  }

  &-item__image {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    & ~ .cm-cart-item__properties {
      display: inline-block;
      vertical-align: top;
      margin-left: -90px;
      padding-left: 98px;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.cm-icon--cart-remove-item {
  position: absolute;
  top: 3px;
  right: 14px;
  z-index: 9;
  cursor: pointer;
}

.cm-property {
  display: table;
  width: 100%;
  line-height: 130%;
  padding: 5px 12px;
  box-sizing: border-box;

  &__name {
    display: table-cell;
    text-align: left;

    & ~ .cm-property__value {
      margin-left: 20px;
    }
  }

  &__value {
    display: table-cell;
    text-align: right;
  }

  &--title {
    background-color: #b54850;
    font-size: 1rem;

    & > .cm-property__value {
      text-align: left;
    }

    a {
      color: #fff;
      text-align: left;
    }
  }
}

@include breakpoint(xs) {
  .cm-popup--active.cm-popup--cart {
    visibility: hidden; /* hide cart popup */
  }
}