// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

// Categories
// =====================================================================================================================

.cm-category {
  > .cm-heading2--boxed {
    background-color: #80BF8A;
  }

  &-item {
    box-sizing: border-box;
    width: 100%;

    > a:hover {
      text-decoration: none;
    }

    &__info {
      background-color: #e6e6e6;
      padding: 0.6rem;
    }

    &__title,
    &__pricing,
    &__cart {
      display: block;
    }

    &__image + &__info {
      margin-top: 5px;
    }

    &__title + &__pricing,
    &__pricing + &__cart {
      margin-top: 0.6rem;
    }

    &__title {
      font-weight: normal;
      margin: 0;
      color: #373737;

      @include breakpoint(md) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        /* Height of 2 lines */
        min-height: 3.2rem;
      }

      @include breakpoint(sm) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        /* Height of 2 lines */
        min-height: 2.8rem;
      }

      @include breakpoint(xs) {
        font-size: 1rem;
        line-height: 1.2rem;
        /* Height of 2 lines */
        min-height: 2.4rem;
      }
    }

    &__pricing {
      font-size: 0;
      text-align: right;
    }

    &__offer-price {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      width: 50%;
    }

    &__list-price {
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      width: 50%;
    }

    & &__image.cm-aspect-ratio-box {
      @include aspect-ratio-box(20, 31);
    }
  }
}

.cm-collection--categories .cm-teasable--category {
  .cm-teasable__caption {
    position: relative;
    .cm-teasable__headline {
      background-color: #E6E6E6;
      color: #373737;
      font-size: 1.4rem;
      line-height: 2rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      position: relative;
      display: block;
    }
  }
}
