// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

/* =====================================================================================================================
   Desktop
   These classes belong to the perfectchef theme and include all different and additional styles for a desktop version.
   Min-Width: 1025
   Max-Width: infinite
   ================================================================================================================== */
@include breakpoint(md) {

  // hidden flags defining screen type and orientation for javascript
  body:after {
    content: 'desktop';
  }

  // --- layout
  .cm-logo a {
    width: 454px;
    height: 60px;
    background-image: url("#{$path-to-images}logo_desktop.png");
  }

  // headings
  .cm-heading2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .cm-heading2--boxed {
    padding: 0.433333rem 0.93333rem 0.566667rem 0.93333rem;
  }

  .cm-heading3 {
    font-size: 1.25rem;
  }

  .cm-heading3--boxed {
    padding: 7px 13px;
  }

  .cm-heading4 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .cm-heading4--boxed {
    padding: 0.5rem 0.7rem;
  }

  .cm-heading5 {
    font-size: 1.13333rem;
    line-height: 2rem;
  }

  .cm-heading5--boxed {
    padding: 0.5rem 0.7rem;
  }

  // --- header
  .cm-placement-header {
    line-height: 37px;
    &__item {
      margin-top: 5px;
      margin-bottom: 18px;
      & ~ .cm-placement-header__item {
        border-left: 1px solid #919191;
      }

      &.cm-icon--navigation {
        border-left: none;
        display: block;
        margin: 0;
      }
    }
  }
  // -- icon
  .cm-icon {
    &__symbol {
      margin: 0 23px 2px 25px;
      font-size: 1.6rem;
      width: 2rem;

      &--badged {
        position: relative;
        &__badge {
          top: -10px;
          right: -15px;
        }
      }
    }

    &__info {
      line-height: 2rem;
      margin-left: -25px;
      margin-right: 25px;
    }
  }

  // --- footer
  .cm-placement-footer:before,
  .cm-placement-footer:after {
    display: table;
    content: " ";
  }

  .cm-placement-footer:after {
    clear: both;
  }

  .cm-placement-footer > .cm-navigation--footer {
    float: left;
  }

  .cm-mailinglist__title,
  .cm-followus__title {
    font-size: 1.25rem;
  }

  .cm-navigation--footer {
    text-align: left;
  }

  .cm-navigation--footer > li {
    float: left;
    margin-bottom: 30px;
    width: 20%;
  }

  .cm-placement-footer .cm-navigation--footer > li > a {
    margin-top: 0;
    font-size: 1.25rem;
  }

  .cm-placement-footer .cm-navigation--footer > li > a {
    display: block;
    margin-bottom: 16px;
    color: #373737;
  }

  // --- titled collections
  .cm-frame {
    padding: 10px;
  }

  .cm-frame--teaser {
    padding: 10px;
  }

  .cm-frame__title {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  // --- teaser
  .cm-product-info__title > *,
  .cm-product-info__pricing > * {
    padding: 0.5rem 0.933333rem;
  }

  // --- box
  .cm-box__header {
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .cm-headline .cm-teaser--hero .cm-aspect-ratio-box,
  .cm-headline .cm-aspect-ratio-box {
    @include aspect-ratio-box(8, 3);
  }

  .cm-headline--small .cm-teaser--hero .cm-aspect-ratio-box,
  .cm-headline--small .cm-aspect-ratio-box {
    @include aspect-ratio-box(4, 1);
  }

  .cm-headline .cm-teaser--hero .cm-teaser__title {
    display: none;
  }

  .cm-popup-button--active {
    background-color: transparent;
  }

  // article with related content
  .cm-box--has-related {
    float: left;
    padding-right: 5px;
    width: 66.66%;
  }

  .cm-box__content {
    margin: 23px 16px 13px;
  }

  .cm-box--related {
    padding-left: 5px;
    float: right;
    width: 33.33%;
  }

  // --- button
  // "top" button
  .cm-icon--button-top {
    right: 50px;
    bottom: 0;
    padding: 5px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
    border-radius: 0;
  }

  .cm-icon--button-top .cm-icon__symbol {
    font-size: 1.6rem;
    width: 2rem;
    margin-left: 8px;
  }

  .cm-icon--button-top .cm-icon__info {
    margin-right: 10px;
  }

  // button
  .cm-button {
    font-size: 1.25rem;
    line-height: 2.13333rem;
    transition: background 0.5s ease-in-out 0s, border-color 0.5s ease-in-out 0s;
  }

  .cm-button--linked-large .cm-button__text {
    padding-left: 0;
    padding-right: 0;
  }

  // button groups
  .cm-button-group--default .cm-button-group__button {
    display: inline-block;
    width: auto;
  }

  .cm-button-group--default .cm-button-group__button + .cm-button-group__button,
  .cm-button-group--equal .cm-button-group__button + .cm-button-group__button {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .cm-button-group--linked-large {
    width: 100%;
  }

  .cm-button-group--linked-large .cm-button-group__button {
    display: block;
    width: 100%;
  }

  .cm-icon--cart-add-item .cm-icon__symbol {
    font-size: 1.8rem;
  }

  // --- search
  .cm-search > .cm-popup-button {
    display: none;
  }

  .cm-search > .cm-popup--search {
    display: none;
  }

  .cm-search-form {
    position: relative;
  }

  .cm-search-form__fieldset {
    padding-left: 10px;
  }

  // different name, because it is used by wcs
  .search_input {
    padding: 0 30px 0 12px;
    width: 282px;
    color: #373736;
  }

  .cm-search-form__button {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    border-color: #fff;
    color: #373736;
  }

  .cm-search-form__button > i {
    margin: 3px 3px 2px 2px;
    font-size: 1.6rem;
  }

  .cm-popup--search-suggestions {
    margin-left: 30px;
    top: 41px;
  }

  // --- teaser
  //Fix for CMS-4977: Do not split embedded links or pictures
  .cm-teaser--embedded, .cm-image-box--embedded {
    break-inside: avoid;
  }

  //Fix for CMS-4976: For multi-column-buggy webkit
  .cm-image-box--embedded .cm-image {
    transform: translateZ(0);
  }

  .cm-teaser > a {
    //Fix for CMS-4976: Hide Scale overflow
    overflow: hidden;
    display: block;
  }

  .cm-teaser__content ~ .cm-teaser__info {
    margin: 5px;
  }

  .cm-teaser--picture,
  .cm-teaser--video,
  .cm-teaser--spinner {
    cursor: pointer;
  }

  .cm-teaser--video__play,
  .cm-spinner__icon {
    width: 120px;
    height: 120px;
    background-image: url("#{$path-to-images}button_video_play_desktop.png");
  }

  .cm-spinner__icon {
    background-image: url("#{$path-to-images}button_spinner_desktop.png");
  }

  .cm-teaser {
    position: relative;
  }

  .cm-teaser__button-group {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mfp-content .cm-teaser__quickinfo {
    margin: 0 auto;
    position: relative;
    width: 514px;
  }

  .mfp-content .cm-teaser__quickinfo .cm-quickinfo__property--pricing,
  .mfp-content .cm-teaser__quickinfo .cm-quickinfo__property--pricing + .cm-quickinfo__property--controls {
    display: table-cell;
    vertical-align: middle;
    width: 254px; // 50% does not work
  }

  // sidebar / related content / frame
  .cm-placement-sidebar > :not(:last-child),
  .cm-box--related > :not(:last-child),
  .cm-frame--teaser > :not(:last-child) {
    margin-bottom: 10px;
  }

  // dropdown menu
  // hide dropdown buttons
  .cm-dropdown-button {
    display: none !important; // must be overridden due to use of pseudo elements for icons
  }

  .cm-navigation--footer ul {
    margin-top: 10px;
  }

  .cm-navigation--footer ul li {
    margin-bottom: 10px;
  }

  // --- teaser-hero
  .cm-teaser--hero .cm-teasable__picture-box {
    @include aspect-ratio-box(5, 2);
  }

  // shoppable videos
  .cm-shoppable__video {
    float: left;
    width: 75%;
  }

  .cm-shoppable__teasers {
    display: block;
    float: right;
    padding-left: 10px;
    width: 25%;
  }

  .cm-shoppable__teaser {
    box-sizing: border-box;
    display: none;
    background: #BF8080;
    overflow: hidden; // just in case there is more text
  }

  .cm-shoppable__teaser .cm-quickinfo {
    position: relative;
    visibility: visible;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 0 0 65px 0; // provide space for button
    color: #fff;
    background: transparent;
    box-shadow: none;
  }

  .cm-shoppable__teaser .cm-quickinfo__title {
    font-size: 1.25rem;
    position: relative;
    color: #fff;
    margin: 0.5rem;
  }

  .cm-shoppable__teaser .cm-price--special {
    color: #fff;
  }

  .cm-shoppable__teaser .cm-quickinfo__property--controls {
    width: auto;
    margin: 1.5rem 0.3rem 0.3rem;
  }

  .cm-shoppable__teaser .cm-button-group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
  }

  .cm-shoppable__teaser .cm-button {
    background-color: #fff;
    border-color: #fff;
    color: #373737;
    width: auto;
  }

  .cm-shoppable__teaser .cm-quickinfo__close {
    display: none;
  }

  .cm-shoppable__default {
    display: block;
  }
}

// --- highres/retina styles
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 1025px) and (min-resolution: 192dpi) {

  .cm-logo > a {
    background-image: url("#{$path-to-images}logo_desktop_highres.png");
  }
}
