// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";


// Import Bricks
@import "../../../../../lib/bricks/livecontext/sass/font";


/* =====================================================================================================================
   Fonts
   declare all used fonts as font-families in this file. All used icons, too.
   ================================================================================================================== */

@include font-face('PT Sans', 'pt-sans-v8-latin-regular', 400);
@include font-face('PT Sans', 'pt-sans-v8-latin-700', 700);
@include font-face('PT Sans', 'pt-sans-v8-latin-700italic', 700, italic);
@include font-face('PT Sans', 'pt-sans-v8-latin-italic', 400, italic);

html, body, button, input, select, textarea {
  font-family: 'PT Sans', Arial, sans-serif;
}

html, body {
  font-size: 15px; /* base font, has to be in html in order work */
}

a {
  color: #5e5e5e;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:hover:not([href]) {
  text-decoration: none;
}

/* links filled with icons should not have underline */
a[class^="icon-"]:hover,
a[class*=" icon-"]:hover {
  text-decoration: none;
}