// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

.cm-logo > a {
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;

  @include breakpoint(xs) {
    width: 175px;
    height: 44px;
    background-image: url("#{$path-to-images}logo_mobile.png");
  }

  @media only screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2),
         only screen and (max-width: 599px) and (min-resolution: 192dpi) {
    background-image: url("#{$path-to-images}logo_mobile_highres.png");
  }

  @include breakpoint(sm) {
    width: 213px;
    height: 70px;
    background-image: url("#{$path-to-images}logo_tablet.png");
  }

  @media only screen and (min-width: 600px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min-width: 600px) and (max-width: 1024px) and (min-resolution: 192dpi) {
    background-image: url("#{$path-to-images}logo_tablet_highres.png");
  }

  @include breakpoint(md) {
    width: 454px;
    height: 60px;
    background-image: url("#{$path-to-images}logo_desktop.png");
  }

  @media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min-width: 1025px) and (min-resolution: 192dpi) {
    background-image: url("#{$path-to-images}logo_desktop_highres.png");
  }
}

.cm-placement-header {
  position: relative;
  text-align: right;
  /* remove whitespace between divs */
  font-size: 0;
  z-index: 11;

  line-height: 44px;

  @include breakpoint(sm) {
    line-height: 70px;
  }

  @include breakpoint(md) {
    line-height: 37px;
  }

  &__logo {
    float: left;
    vertical-align: middle;
  }

  &__logo,
  &__item,
  &__breadcrumb {
    /* reset text-align and font-size */
    text-align: left;
    font-size: 1rem;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;

    @include breakpoint(md) {
      margin-top: 5px;
      margin-bottom: 18px;

      & ~ .cm-placement-header__item {
        margin-left: 1px;
        border-left: 1px solid #919191;
      }

      &.cm-icon--navigation {
        border-left: none;
        display: block;
        margin: 0;
      }
    }
  }
}
