/**
 * Main classes
 * =====================================================================================================================
 *
 * Some generic Coremedia styles and classes for responsive images, navigation, quickinfo and imagemap
 */

/**
 * Non Responsive Content Plugin
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styles to allow functionality to work
 */
.cm-non-adaptive-content-wrapper {
  overflow: hidden;
}

.cm-non-adaptive-content {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* variant fitting to parent height */
.cm-non-adaptive-content--fit-height {
  height: 100%;
  width: auto;
}

/**
 * 360° Spinner
 * ---------------------------------------------------------------------------------------------------------------------
 */
.cm-spinner--hidden {
  display: none;
}

.cm-spinner__canvas {
  position: relative;
  cursor: ew-resize;
}

.cm-spinner__images {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cm-spinner__image {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cm-spinner__image.current-image {
  visibility: visible;
}

/**
 * Dropdown Navigation
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styles to allow functionality to work
 */

/**
 * hide dropdown-buttons if .cm-dropdown is not set
 */
.cm-dropdown-button {
  display: none;
}

.cm-dropdown .cm-dropdown-button {
  display: inherit;
}

/**
 * hide all menus and items except for:
 * - items containing opened menus
 * - opened menus
 * - items in active menus (root level and sublevels)
 */
.cm-dropdown .cm-dropdown-menu,
.cm-dropdown .cm-dropdown-item {
  display: none;
}

.cm-dropdown .cm-dropdown-item.cm-dropdown-menu--opened,
.cm-dropdown .cm-dropdown-menu.cm-dropdown-menu--opened,
.cm-dropdown.cm-dropdown-menu.cm-dropdown-menu--active > .cm-dropdown-item,
.cm-dropdown .cm-dropdown-menu.cm-dropdown-menu--active > .cm-dropdown-item {
  display: inherit;
}

/**
 * Read More / Read Less functionality
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styles to allow functionality to work
 */
.cm-readmore__wrapper {
  overflow: hidden;
}

.cm-readmore__buttonbar {
  display: none;
  text-align: right;
}

.cm-readmore__button-more,
.cm-readmore__button-less {
  background: #ffffff;
  border: none;
  padding: 5px;
  text-decoration: underline;
}

.cm-readmore--enabled > .cm-readmore__buttonbar {
  display: block;
}

.cm-readmore--more > .cm-readmore__buttonbar > .cm-readmore__button-more {
  display: none;
}

.cm-readmore--less > .cm-readmore__buttonbar > .cm-readmore__button-less {
  display: none;
}

/**
 * Hash Based Fragment Handler
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Optional CSS Styles to apply a loading indicator for fragments
 */
.cm-fragment--loading {
  position: relative;
}

.cm-fragment--loading:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  transition: background-color 0.5s ease;
}

/* --- teaser ------------------------------------------------------------------------------------------------------- */
.cm-teaser {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.cm-teaser__content {
  text-align: center;
  font-size: 1.1rem;
}

/* if content is attached title will be overlayed */
.cm-teaser__content ~ .cm-teaser__title {
  position: absolute;
  top: 0;
  left: 0;
}

/* if content is attached info will be overlayed */
.cm-teaser__content ~ .cm-teaser__info {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* avoid underlining for active and hover states */
.cm-teaser > a:focus,
.cm-teaser > a:active {
  text-decoration: none;
}

/* --- video teaser ------------------------------------------------------------------------------------------------- */
.cm-teaser--video__play,
.cm-spinner__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background-image: url("#{$path-to-images}button_video_play.png");
}

.cm-spinner__icon {
  background-image: url("#{$path-to-images}button_spinner.png");
}

.cm-teaser--video__video {
  background-color: #3d3d3d;
}

$cm-play-button-svg-hover-fill: #80A3BF;
$cm-play-button-svg-focus-color: #80A3BF;
@import "../../../../../lib/bricks/generic-templates/sass/video";

/* --- product information ------------------------------------------------------------------------------------------ */
.cm-product-info {
  display: table;
  font-size: 0; /* remove whitespace */
}

.cm-product-info__title,
.cm-product-info__pricing {
  display: table-cell;
  font-size: 1rem; /* reset font */
  vertical-align: bottom;
}

.cm-product-info__title > *,
.cm-product-info__pricing > * {
  background-color: #ffffff;
}

.cm-product-info__title > * {
  vertical-align: bottom;
  margin: 0;
}

.cm-product-info__pricing {
  text-align: right;
}

/* currently, for all devices the same */
.cm-teaser .cm-aspect-ratio-box {
  @include aspect-ratio-box(4, 3);
}

/* --- Plain Teaser ------------------------------------------------------------------------------------------------- */
.cm-teaser--plain .cm-aspect-ratio-box {
  @include aspect-ratio-box(1, 1);
}

/*noinspection CssOptimizeSimilarProperties*/
.cm-teaser--plain.cm-teaser--video .cm-teaser--video__play,
.cm-teaser--plain.cm-teaser--spinner .cm-spinner__icon {
  width: 100%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.cm-lightbox .cm-aspect-ratio-box {
  @include aspect-ratio-box(1, 1);
}

.cm-lightbox--portrait .cm-aspect-ratio-box {
  @include aspect-ratio-box(3, 4);
}

.cm-lightbox--landscape .cm-aspect-ratio-box {
  @include aspect-ratio-box(4, 3);
}

.cm-frame {
  background-color: #a8a8a8;
}

.cm-frame .cm-frame {
  background-color: #bfbfbf;
}

.cm-frame__title {
  margin: 0;
  color: #ffffff;
  font-weight: normal;
}

.cm-frame > .cm-teaser {
  width: auto;
}
