// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

// Import Bricks
@import "../../../../../lib/bricks/image-maps/sass/quickinfo";

// Quickinfos
// =====================================================================================================================

.cm-quickinfo--main.cm-quickinfo--active {
  @include breakpoint(md) {
    display: none;
  }
}

.cm-quickinfo {
  box-sizing: border-box;
  background: #fff;

  @include breakpoint(md) {
    width: 306px;
    padding: 43px 3px 3px; /* leave space for absolute positioned title, which is always shown */
    box-shadow: 0 0 10px #000;
  }

  @include breakpoint(sm) {
    padding: 8px;
  }

  &--active {
    @include breakpoint(sm) {
      position: static;
    }
  }

  &__title {
    @include breakpoint(md) {
      position: absolute;
      font-weight: normal;
      top: 0;
      left: 0;
      margin: 8px 13px;
    }

    @include breakpoint(sm) {
      margin: 0;
    }
  }

  &__text {
    @include breakpoint(md) {
      margin: 0.5rem;
    }
  }

  &__text p {
    @include breakpoint(md) {
      margin: 0;
    }
  }

  &__close {
    border: none;
    background: transparent;
    padding: 0;

    @include breakpoint(md) {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    @include breakpoint(sm) {
      display: none;
    }

    .cm-icon__symbol {
      content: "";
      margin: 0;
      width: 20px;
      height: 20px;
      font-size: 1.2rem;
      background-color: transparent;
      color: #373737;
      z-index: 2;
      &:before {
        line-height: 1;
      }
    }
  }

  &__listprice,
  &__offerprice {
    white-space: nowrap;

    @include breakpoint(md) {
      display: table-cell;
      /* margin is ignored in table-cell */
      padding: 8px;
    }

    @include breakpoint(sm) {
      text-align: right;
      padding: 0;
    }
  }

  &__button {
    margin: 8px 0;
  }

  &__property {
    @include breakpoint(md) {
      display: block;
      text-align: left;
    }

    @include breakpoint(sm) {
      display: table-cell;
      width: 100%;
      height: 75px; /* acts as min-height in table-cell */
      vertical-align: top;
      padding-left: 20px;
    }
  }

  &__property--add-to-cart {
    position: absolute;
    right: 0.5rem;
    top: 14.75rem;
    background: #fff;

    @include breakpoint(sm) {
      background: #FFFFFF;
      height: auto;
      margin-top: -5rem;
      position: absolute;
      right: 1rem;
      width: auto;
    }

    a {
      display: block;
      padding: 0.5rem;

      @include breakpoint(sm) {
        display: block;
        padding: 0.5rem;
      }
    }
  }

  &__property--image,
  &__property--general {
    @include breakpoint(md) {
      display: block;
    }
  }

  &__property--image {
    @include breakpoint(sm) {
      padding-left: 0;
      width: 100px;
    }
  }

  &__property--controls {
    text-align: right;
    @include breakpoint(sm) {
      vertical-align: bottom;
    }
  }

  &__image {
    overflow: hidden;
    @include breakpoint(sm) {
      vertical-align: top;
      width: 100px;
    }
    &.cm-aspect-ratio-box {
      @include aspect-ratio-box(4, 3);
    }
  }
}

/* in two-column-layout the quickinfo has to be smaller */
.cm-grid--lc-two-column .cm-quickinfo {
  width: 246px;
  &__text {
    display: none;
  }
}

.cm-quickinfo--compact .cm-quickinfo__property--pricing,
  /* only if pricing is present */
.cm-quickinfo--compact .cm-quickinfo__property--pricing + .cm-quickinfo__property--controls {
  display: table-cell;
  vertical-align: middle;
}

.cm-quickinfo--compact .cm-quickinfo__listprice,
.cm-quickinfo--compact .cm-quickinfo__offerprice {
  display: block;
  /* see base implementation */
  padding: 0;
  margin: 0 0.5rem;
}
