/* search */
.cm-popup-button--search.cm-popup-button--active {
  z-index: 11;
  &:before {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    content: "";
  }

  &:after {
    position: absolute;
    /* to be fixed, menu should not be overlayed */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    margin-bottom: -8000px;
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
  }
}

.cm-search-form {
  position: relative;
  line-height: 1rem;

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__field {
    box-sizing: border-box;
  }

  &__button {
    background-color: transparent;
    border: 3px solid transparent;
    color: #919191;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    & > i {
      float: left;
      margin: 3px 11px 2px 10px;
      font-size: 1.8rem;
    }
  }
}

/* different name, because it is used by wcs */
.search_label {
  display: none;
}

.search_input {
  width: 100%;
  border: 1px solid #919191;
  box-sizing: border-box;
  height: 37px;
  padding: 0 11px;
  background-color: #fff; /* fix different default OS color */

  &::placeholder {
    color: #373737;
    font-style: italic;
    opacity: 1;
  }
}

/* override normalize.css having more specific selector */
.search_input[type=search] {
  box-sizing: border-box;
}

.cm-popup--search {
  background-color: #e5e5e5;
  border: 1px solid #919191;
  width: 100%;
  right: 0;

  &-suggestions {
    background-color: #fff;
    left: 0;
    right: 0;
    border: 1px solid #919191;
    text-align: left;
  }
}

.cm-search-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 44px;

  &--non-empty ~ span {
    display: none;
  }

  &__item {
    cursor: pointer;
    border-bottom: 1px solid #919191;
    padding: 0 13px;
  }
}

.cm-search-no-suggestions {
  line-height: 44px;
  padding: 0 20px;
}

@include breakpoint(xs) {

  /* --- search ------------------------------------------------------------------------------------------------------ */
  .cm-popup-button--search.cm-popup-button--active:before {
    height: 44px;
  }

  .cm-popup-button--search.cm-popup-button--active:after {
    top: 44px;
  }

  .cm-search-form__fieldset {
    padding: 0;
  }

  .cm-search-form__field {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    margin-right: -49px;
    padding: 3px 45px 3px 10px;
    vertical-align: middle;
  }

  .cm-search-form__button {
    width: auto;
    height: 44px;
    line-height: 2.53333rem;
    font-size: 1rem;
  }

  .cm-popup--search-suggestions {
    margin-left: 10px;
    margin-right: 45px;
    top: 44px;
  }

}

@include breakpoint(sm) {

  .cm-search-form__field {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    margin-right: -49px;
    padding: 3px 45px 3px 10px;
    vertical-align: middle;
  }

  /* --- search ----------------------------------------------------------------------------------------------------- */
  .cm-popup-button--search.cm-popup-button--active:before {
    height: 70px;
  }

  .cm-popup-button--search.cm-popup-button--active:after {
    top: 70px;
  }

  .cm-popup--search-suggestions {
    margin-left: 10px;
    margin-right: 45px;
    top: 43px;
  }
}

@include breakpoint(sm, landscape) {

  /* -- search ------------------------------------------------------------------------------------------------------ */
  .cm-search-form__fieldset {
    padding: 0;
  }
}

@include breakpoint(sm, portrait) {

  /* --- search ----------------------------------------------------------------------------------------------------- */
  .cm-search-form__button {
    width: auto;
  }

  .cm-search-form__fieldset {
    padding: 0;
  }
}

@include breakpoint(md) {

  // --- search
  .cm-search > .cm-popup-button {
    display: none;
  }

  .cm-search > .cm-popup--search {
    display: none;
  }

  .cm-search-form {
    position: relative;
  }

  .cm-search-form__fieldset {
    padding-left: 10px;
  }

  // different name, because it is used by wcs
  .search_input {
    padding: 0 30px 0 12px;
    width: 282px;
    color: #373736;
  }

  .cm-search-form__button {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    border-color: #fff;
    color: #373736;
  }

  .cm-search-form__button > i {
    margin: 3px 3px 2px 2px;
    font-size: 1.6rem;
  }

  .cm-popup--search-suggestions {
    margin-left: 30px;
    top: 41px;
  }
}