// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

/* =====================================================================================================================
   Tablet
   ================================================================================================================== */
@include breakpoint(sm){

  /* hidden flags defining screen type and orientation for javascript */
  body:after {
    content: 'tablet';
  }

  /* --- layout ----------------------------------------------------------------------------------------------------- */
  /* heading */
  .cm-heading2 {
    font-size: 1.46rem;
    line-height: 1.8rem;
  }

  .cm-heading2--boxed {
    padding: 0.36rem 0.54em;
  }

  .cm-heading3 {
    font-size: 1.125rem;
  }

  .cm-heading3--boxed {
    padding: 10px 25px;
  }

  .cm-heading4 {
    font-size: 1.2rem;
  }

  .cm-heading4--boxed {
    padding: 0.36rem 0.50em;
    line-height: 1.6rem;
  }

  .cm-heading5 {
    font-size: 1.3333rem;
    line-height: 2rem;
  }

  .cm-heading5--boxed {
    padding: 0.3rem 0.4rem;
  }

  /* headline */
  .cm-headline .cm-teaser--hero .cm-aspect-ratio-box,
  .cm-headline .cm-aspect-ratio-box {
    @include aspect-ratio-box(8, 3);
  }

  .cm-headline--small .cm-teaser--hero .cm-aspect-ratio-box,
  .cm-headline--small .cm-aspect-ratio-box {
    @include aspect-ratio-box(4,1);
  }

  .cm-headline .cm-teaser--hero .cm-teaser__title {
    display: none;
  }
  /* --- icon ------------------------------------------------------------------------------------------------------- */
  .cm-icon__symbol {
    width: 70px;
    font-size: 2.6rem;
  }

  /* --- header ----------------------------------------------------------------------------------------------------- */
  .cm-placement-header {
    line-height: 70px;
  }

  .cm-logo a {
    width: 213px;
    height: 70px;
    background-image: url("#{$path-to-images}logo_tablet.png");
  }

  /* --- search ----------------------------------------------------------------------------------------------------- */
  .cm-popup-button--search.cm-popup-button--active:before {
    height: 70px;
  }

  .cm-popup-button--search.cm-popup-button--active:after {
    top: 70px;
  }

  .cm-popup--search-suggestions {
    margin-left: 10px;
    margin-right: 45px;
    top: 43px;
  }

  .cm-search-form__field {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    margin-right: -49px;
    padding: 3px 45px 3px 10px;
    vertical-align: middle;
  }

  /* -- article ----------------------------------------------------------------------------------------------------- */
  .cm-box__content {
    margin: 14px 16px;
  }

  /* --- button ----------------------------------------------------------------------------------------------------- */
  .cm-button {
    font-size: 1.125rem;
    line-height: 2.26667rem;
  }

  .cm-button-group--overlay .cm-button-group__button {
    display: none;
  }

  .cm-icon--cart-add-item .cm-icon__symbol {
    font-size: 1.5rem;
  }

  /* --- teaser ----------------------------------------------------------------------------------------------------- */

  .cm-product-info__title > *,
  .cm-product-info__pricing > * {
    padding: 0.36rem 0.50em;
  }

  /* --- titled collections ----------------------------------------------------------------------------------------- */

  .cm-frame {
    padding: 8px;
  }

  .cm-frame--teaser {
    padding: 8px;
  }

  .cm-frame__title {
    margin-bottom: 8px;
    font-size: 1.46rem;
  }

  /* adapt to 4:3 aspect ratio */
  .cm-frame > .cm-teaser {
    margin: 0 32px;
  }

  /* --- teasers ---------------------------------------------------------------------------------------------------- */

  .cm-teaser__content ~ .cm-teaser__info {
    margin: 4px;
  }

  .cm-teaser--text .cm-teaser__content {
    font-size: 1.22rem;
  }

  .cm-teaser__button-group,
  .cm-teaser__quickinfo {
    display: none;
  }

  /* --- navigation ------------------------------------------------------------------------------------------------- */
  /* dropdown-menu */
  /* general size for buttons in dropdown */
  .cm-dropdown .cm-dropdown-button,
    /* keep space although button is absolute for cm-placement-header */
  .cm-placement-header .cm-dropdown .cm-dropdown-item--level1 {
    width: 70px;
    height: 70px;
    font-size: 2.6rem;
  }

  .cm-dropdown .cm-dropdown-item > a {
    padding: 0 15px;
    font-size: 1.375rem;
    line-height: 70px;
  }

  .cm-dropdown .cm-dropdown-item.cm-dropdown-menu--opened > a {
    padding-left: 84px; /* 69px + 15px */
  }

  .cm-dropdown .cm-dropdown-item > a:after {
    top: 14px;
    right: 69px;
    bottom: 14px;
    width: 1px;
    height: 42px;
  }

  /* if opened border is positioned differently */
  .cm-dropdown .cm-dropdown-item.cm-dropdown-menu--opened > a:after {
    left: 70px;
  }

  /* header specific */
  /* place absolute menu level 2 */
  .cm-placement-header .cm-dropdown .cm-dropdown-menu--level2 {
    top: 69px;
  }

  /* background on open in header */
  .cm-placement-header .cm-dropdown .cm-dropdown-item--level1.cm-dropdown-menu--opened:before {
    top: 70px;
  }

  .cm-placement-header .cm-dropdown .cm-dropdown-item--level1.cm-dropdown-menu--opened:after {
    height: 70px;
  }

  .cm-placement-footer:before,
  .cm-placement-footer:after {
    display: table;
    content: " ";
  }

  .cm-placement-footer:after {
    clear: both;
  }

  .cm-navigation--footer {
    box-sizing: border-box;
  }

  .cm-navigation--footer > li {
    float: left;
    margin-bottom: 30px;
    width: 50%;
  }

  .cm-navigation--footer > li > ul > li > ul {
    margin-top: 10px;
  }

  .cm-placement-footer > .cm-mailinglist,
  .cm-placement-footer > .cm-followus {
    margin-left: 0;
    margin-right: 0;
  }

  .cm-mailinglist__title,
  .cm-followus__title {
    font-size: 1.375rem;
  }

  .cm-mailinglist__form input {
    width: 40%;
  }

  .cm-placement-footer .cm-navigation--footer > li > a {
    font-size: 1.375rem;
  }

  .cm-placement-footer .cm-navigation--footer > li > a {
    display: block;
    margin-bottom: 16px;
    color: #373737;
  }

  /* hide dropdown buttons in footer */
  .cm-placement-footer .cm-dropdown-button {
    display: none !important; /* must be overridden due to use of pseudo elements for icons */
  }
}

/* --- highres/retina styles ---------------------------------------------------------------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 600px) and (max-width: 1024px) and (min-resolution: 192dpi) {

  .cm-logo > a {
    background-image: url("#{$path-to-images}logo_tablet_highres.png");
  }
}
