/** sprite:am-icons-16px; sprite-image:url('../../images/am-studio-icons-16px.png'); sprite-layout:vertical; */
/** sprite:am-icons-64px; sprite-image:url('../../images/am-studio-icons-64px.png'); sprite-layout:vertical; */
/** sprite:am-icons-128px; sprite-image:url('../../images/am-studio-icons-128px.png'); sprite-layout:vertical; */


/*
 * ======================
 * Common Sprite Settings
 * ======================
 */
.content-type-AMAsset-icon,
.content-type-AMPictureAsset-icon,
.content-type-AMDocumentAsset-icon,
.content-type-AMVideoAsset-icon {
  background-color: transparent;
  background-repeat: no-repeat;
}

/**
  * 128x128 icons
  */
.content-type-xl.content-type-AMAsset-icon {
  background-image: url(doctype-icons/128x128/asset.png) !important; /** sprite-ref:am-icons-128px;*/
}
.content-type-xl.content-type-AMPictureAsset-icon {
  background-image: url(doctype-icons/128x128/picture-asset.png) !important; /** sprite-ref:am-icons-128px;*/
}
.content-type-xl.content-type-AMDocumentAsset-icon {
  background-image: url(doctype-icons/128x128/document-asset.png) !important; /** sprite-ref:am-icons-128px;*/
}
.content-type-xl.content-type-AMVideoAsset-icon {
  background-image: url(doctype-icons/128x128/video-asset.png) !important; /** sprite-ref:am-icons-128px;*/
}

/**
  * 64x64 icons
  */
.content-type-l.content-type-AMAsset-icon {
  background-image: url(doctype-icons/64x64/asset.png) !important; /** sprite-ref:am-icons-64px;*/
}
.content-type-l.content-type-AMPictureAsset-icon {
  background-image: url(doctype-icons/64x64/picture-asset.png) !important; /** sprite-ref:am-icons-64px;*/
}
.content-type-l.content-type-AMDocumentAsset-icon {
  background-image: url(doctype-icons/64x64/document-asset.png) !important; /** sprite-ref:am-icons-64px;*/
}
.content-type-l.content-type-AMVideoAsset-icon {
  background-image: url(doctype-icons/64x64/video-asset.png) !important; /** sprite-ref:am-icons-64px;*/
}

/**
  * 16x16 icons
  */
.custom-notification .content-type-xs.content-type-AMAsset-icon,
.custom-context-menu-title .content-type-AMAsset-icon,
.content-type-transparent.content-type-xs.content-type-AMAsset-icon,
#bookmarkMenu .content-type-xs.content-type-AMAsset-icon,
.silicium-tab.x-tab-strip-active .x-tab-strip-text.content-type-AMAsset-icon,
.silicium-tab.just-opened .x-tab-strip-text.content-type-AMAsset-icon,
.x-grid3-row-selected .content-type-xs.content-type-AMAsset-icon,
.x-tree-selected .content-type-xs.content-type-AMAsset-icon,
.x-list-selected .content-type-xs.content-type-AMAsset-icon {
  background-image: url(doctype-icons/16x16/asset-neg.png) !important; /** sprite-ref:am-icons-16px;*/
}
.preview-breadcrumb .content-type-AMAsset-icon.x-btn-noicon .x-btn-text,
.content-type-xs.content-type-AMAsset-icon,
.silicium-tab .x-tab-strip-text.content-type-AMAsset-icon,
.x-tree-node-el .x-tree-node-icon.content-type-xs.content-type-AMAsset-icon {
  background-image: url(doctype-icons/16x16/asset-pos.png) !important; /** sprite-ref:am-icons-16px;*/
}
.custom-notification .content-type-xs.content-type-AMPictureAsset-icon,
.custom-context-menu-title .content-type-AMPictureAsset-icon,
.content-type-transparent.content-type-xs.content-type-AMPictureAsset-icon,
#bookmarkMenu .content-type-xs.content-type-AMPictureAsset-icon,
.silicium-tab.x-tab-strip-active .x-tab-strip-text.content-type-AMPictureAsset-icon,
.silicium-tab.just-opened .x-tab-strip-text.content-type-AMPictureAsset-icon,
.x-grid3-row-selected .content-type-xs.content-type-AMPictureAsset-icon,
.x-tree-selected .content-type-xs.content-type-AMPictureAsset-icon,
.x-list-selected .content-type-xs.content-type-AMPictureAsset-icon {
  background-image: url(doctype-icons/16x16/picture-asset-neg.png) !important; /** sprite-ref:am-icons-16px;*/
}
.preview-breadcrumb .content-type-AMPictureAsset-icon.x-btn-noicon .x-btn-text,
.content-type-xs.content-type-AMPictureAsset-icon,
.silicium-tab .x-tab-strip-text.content-type-AMPictureAsset-icon,
.x-tree-node-el .x-tree-node-icon.content-type-xs.content-type-AMPictureAsset-icon {
  background-image: url(doctype-icons/16x16/picture-asset-pos.png) !important; /** sprite-ref:am-icons-16px;*/
}
.custom-notification .content-type-xs.content-type-AMDocumentAsset-icon,
.custom-context-menu-title .content-type-AMDocumentAsset-icon,
.content-type-transparent.content-type-xs.content-type-AMDocumentAsset-icon,
#bookmarkMenu .content-type-xs.content-type-AMDocumentAsset-icon,
.silicium-tab.x-tab-strip-active .x-tab-strip-text.content-type-AMDocumentAsset-icon,
.silicium-tab.just-opened .x-tab-strip-text.content-type-AMDocumentAsset-icon,
.x-grid3-row-selected .content-type-xs.content-type-AMDocumentAsset-icon,
.x-tree-selected .content-type-xs.content-type-AMDocumentAsset-icon,
.x-list-selected .content-type-xs.content-type-AMDocumentAsset-icon {
  background-image: url(doctype-icons/16x16/document-asset-neg.png) !important; /** sprite-ref:am-icons-16px;*/
}
.preview-breadcrumb .content-type-AMDocumentAsset-icon.x-btn-noicon .x-btn-text,
.content-type-xs.content-type-AMDocumentAsset-icon,
.silicium-tab .x-tab-strip-text.content-type-AMDocumentAsset-icon,
.x-tree-node-el .x-tree-node-icon.content-type-xs.content-type-AMDocumentAsset-icon {
  background-image: url(doctype-icons/16x16/document-asset-pos.png) !important; /** sprite-ref:am-icons-16px;*/
}
.custom-notification .content-type-xs.content-type-AMVideoAsset-icon,
.custom-context-menu-title .content-type-AMVideoAsset-icon,
.content-type-transparent.content-type-xs.content-type-AMVideoAsset-icon,
#bookmarkMenu .content-type-xs.content-type-AMVideoAsset-icon,
.silicium-tab.x-tab-strip-active .x-tab-strip-text.content-type-AMVideoAsset-icon,
.silicium-tab.just-opened .x-tab-strip-text.content-type-AMVideoAsset-icon,
.x-grid3-row-selected .content-type-xs.content-type-AMVideoAsset-icon,
.x-tree-selected .content-type-xs.content-type-AMVideoAsset-icon,
.x-list-selected .content-type-xs.content-type-AMVideoAsset-icon {
  background-image: url(doctype-icons/16x16/video-asset-neg.png) !important; /** sprite-ref:am-icons-16px;*/
}
.preview-breadcrumb .content-type-AMVideoAsset-icon.x-btn-noicon .x-btn-text,
.content-type-xs.content-type-AMVideoAsset-icon,
.silicium-tab .x-tab-strip-text.content-type-AMVideoAsset-icon,
.x-tree-node-el .x-tree-node-icon.content-type-xs.content-type-AMVideoAsset-icon {
  background-image: url(doctype-icons/16x16/video-asset-pos.png) !important; /** sprite-ref:am-icons-16px;*/
}

.x-tree-selected.x-tree-node-collapsed.x-tree-node-loading .x-tree-node-icon.asset-folder-icon,
.x-tree-selected.x-tree-node-expanded.x-tree-node-loading .x-tree-node-icon.asset-folder-icon,
.x-tree-selected.x-tree-node-expanded .x-tree-node-icon.asset-folder-icon,
.x-tree-selected.x-tree-node-leaf .x-tree-node-icon.asset-folder-icon,
.x-tree-selected.x-tree-node-collapsed .x-tree-node-icon.asset-folder-icon,
.x-tree-selected .asset-folder-icon {
  background-image: url(doctype-icons/16x16/asset-folder-neg.png) !important; /** sprite-ref:am-icons-16px;*/
}
.x-tree-node-collapsed.x-tree-node-loading .x-tree-node-icon.asset-folder-icon,
.x-tree-node-expanded.x-tree-node-loading .x-tree-node-icon.asset-folder-icon,
.x-dd-drag-ghost .x-tree-selected .x-tree-node-icon.asset-folder-icon,
.x-tree-node-expanded .x-tree-node-icon.asset-folder-icon,
.x-tree-node-leaf .x-tree-node-icon.asset-folder-icon,
.x-tree-node-collapsed .x-tree-node-icon.asset-folder-icon,
.asset-folder-icon {
  background-image: url(doctype-icons/16x16/asset-folder-pos.png) !important; /** sprite-ref:am-icons-16px;*/
}