// Variables
// Set variables to configure _hero.scss from default-templates brick.
// Have a look the _hero.scss for all available variables.
$cm-hero-dimmer-display: none;
$cm-hero-headline-color: palette(white);
$cm-hero-dimmer-opacity: 0;
$cm-hero-media-aspect-ratio-by-breakpoint: ("xs": (4, 3), "sm-and-up": (16,9));
