//Variables
// Set varibales to configure _teaser.scss from default-templates brick.
// Have a look the _teaser.scss for all available variables.
$cm-teasable-headline-color: palette(white);
$cm-teasable-dimmer-display: none;
$cm-teasable-caption-padding: 0 12.6%;
