// SKIN TAB
.sg-skin-category-documentation {
  font: 400 14px/1 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', 'Helvetica', sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
}

.sg-skin-category-documentation > b {
  font-weight: bold;
}

.sg-skin-category-documentation > ul {
  -webkit-padding-start: 16px;
}

.sg-skin-category-documentation > ul > li {
  padding-bottom: 3px;
}

.sg-link {
  text-decoration: underline;
  cursor: pointer;
}