@if $cm-include-taxonomy-explorer-panel {

  .cm-taxonomy-explorer-panel {

    &__root {
      background-color: $cm-grey-1;
    }

    &__root,
    &__non-root {
      border-right: 1px solid $cm-spot-grey-3;
    }

    &__form {
      background-color: $cm-grey-0;
    }
  }
}
