.#{$cm-hero-prefix} {
  &__play {
    transform: translate(50%, 90%); // a little higher for spacing
    @include breakpoint(xs) {
      transform: translate(50%, 110%);
    }
  }

  @include breakpoint(xs) {
    &__text {
      display: none;
    }
  }
}
