@include cm-default-teaser(
  $block-class: $cm-square-prefix,
  $media-aspect-ratio-by-breakpoint: ("xs-and-up": (1, 1)),
  $media-background-color: $cm-square-picture-background-color,
  $caption-padding: $cm-teasable-caption-padding,
  $headline-color: $cm-square-headline-color
);

// Transformations are not part of the brick.
.#{$cm-square-prefix} {

  &__text,
  &__headline {
    padding-bottom: $padding-large-vertical;
  }
  a > &__headline {
    // this creates the line under the headline when its being hovered
    &:after {
      content: '';
      position: relative;
      display: block;
      bottom: -5px;
      margin: auto;
      width: 0;
      opacity: 0;
      height: 1px;
      background-color: $cm-square-headline-color;
    }
  }

  &__dimmer {
    @include dimmer(0.33);
    background-color: #000;
  }

  &__dimmer,
  &__text,
  &__headline,
  &__cta {
    transition: all $transition-duration ease(in-out-quad);
  }

  &__headline {
    &:after {
      transition: all $transition-duration ease(in-out-quad);
    }
  }

  &:hover {
    .#{$cm-square-prefix}__dimmer {
      opacity: 0.44;
    }

    a > .#{$cm-square-prefix}__headline {
      transform: translate3d(0, 5px, 0);

      &:after {
        opacity: 1;
        width: 100%;
      }
    }

    .#{$cm-square-prefix}__cta {
      transform: translate3d(0, -5px, 0);
    }
  }

  // if teaser text, more animation
  &.is-text:hover {
    a > .#{$cm-square-prefix}__headline {
      transform: translate3d(0, 10px, 0);
    }

    .#{$cm-square-prefix}__cta {
      transform: translate3d(0, -10px, 0);
    }
  }

  // removing hover effects for video
  // the play-button takes the hover
  &--video:hover,
  &--video.is-text:hover {
    a > .#{$cm-square-prefix}__headline {
      transform: none;
      &:after {
        display: none;
      }
    }

    .#{$cm-square-prefix}__cta {
      transform: none;
    }
  }

  &--video &__caption {
      bottom: 20%;
  }
}
