.#{$cm-teasable-prefix} {
  background-color: palette(white);
  font-size: $font-size-base;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    @include breakpoint(sm-and-up) {
      flex-direction: row;
    }
  }

  // picture (with and without link) and caption share the width
  &__wrapper > a,
  &__wrapper > &__picture-box,
  &__caption {
    @include breakpoint(sm-and-up) {
      flex: 1 1 50%;
      max-width: 50%; // IE11 fix
    }
  }

  &__caption {
    position: relative; // for the arrow
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $line-height-computed 10%;
    @include breakpoint(sm-and-up) {
      padding: $line-height-computed 5%;
    }
    text-align: center;

    // reset overlay styles from default-teaser
    bottom: auto;
    transform: none;

    // little arrow between image and text
    &:after {
      // little arrow between image and text
      @include arrow(top, palette(white));

      @include breakpoint(sm-and-up) {
        @include arrow(left, palette(white));
      }
    }
  }

  // headline does always exist
  &__text,
  &__cta {
    margin-top: $line-height-computed;
  }

  a > &__headline {
    transition: all $transition-duration ease(in-out-quad);
    &:after {
      content: '';
      position: relative;
      display: block;
      bottom: 0;
      margin: 0 auto -5px auto;
      width: 0;
      opacity: 0;
      height: 1px;
      background-color: palette(grey, darker);
      transition: opacity $transition-duration ease(in-out-quad), width $transition-duration ease(in-out-quad);
    }
  }

  &__cta {
    transition: all $transition-duration ease(in-out-quad);
    .cm-cta-button {
      @extend .cm-button;
    }
  }

  &__play {
    // workaround as sadly the play button is not inside the media div
    @include breakpoint(xs) {
      @include aspect-ratio-box(16, 9);
      position: absolute;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      width: 100%;
      height: auto;
      background-size: 90px 90px;
      background-position: center;
      max-width: none;
      max-height: none;
      transform: none;
    }

    @include breakpoint(sm-and-up) {
      right: 75%;
    }
  }

  &__popup-opener {
    position: relative;
  }

  &:hover {
    a > .#{$cm-teasable-prefix}__headline {
      transform: translate3d(0, 5px, 0);
      &:after {
        opacity: 1;
        width: 100%;
      }
    }

    .#{$cm-teasable-prefix}__cta {
      transform: translate3d(0, -5px, 0);
    }
  }

  // corporate-identity layout for teasers (corporate color as background, white text, switched caption/picture)
  &--corporate-identity {
    background-color: $brand-primary;

    @include breakpoint(sm-and-up) {
      // change position of picture (with and without link) and caption
      .#{$cm-teasable-prefix}__wrapper > a,
      .#{$cm-teasable-prefix}__wrapper > .#{$cm-teasable-prefix}__picture-box {
        order: 2;
      }
      .#{$cm-teasable-prefix}__caption {
        order: 1;
      }
    }

    .#{$cm-teasable-prefix}__text,
    .#{$cm-teasable-prefix}__headline {
      color: palette(white);
    }

    .#{$cm-teasable-prefix}__headline {
      &:after {
        background-color: palette(white);
      }
    }

    .#{$cm-teasable-prefix}__caption {
      &::after {
        @include arrow(top, $brand-primary);

        @include breakpoint(sm-and-up) {
          @include arrow(right, $brand-primary);
        }
      }
    }

    .#{$cm-teasable-prefix}__cta {
      .cm-cta-button {
        @extend .cm-button--white;
      }
    }

    .#{$cm-teasable-prefix}__play {
      @include breakpoint(sm-and-up) {
        right: 25%;
      }
    }
  }

  &--video {
    // fight against badly chosen defaults in default-teaser.scss
    cursor: initial;
    .#{$cm-teasable-prefix}__text {
      display: block;
    }

    .#{$cm-teasable-prefix}--no-image {
      .#{$prefix}teasable__popup-opener {
        height: $overlay-size;
        margin-bottom: $padding-base-horizontal;
      }
    }

    // disable hover on video, since there is no c2a-button
    .#{$cm-teasable-prefix}__caption {

      &:hover {
        .#{$cm-teasable-prefix}__headline {
          transform: none;
            &:after {
              display: none
            }
        }
      }
    }
  }

  &--no-image {
    @include breakpoint(sm-and-up) {
      @include aspect-ratio-box(32, 9);

      .#{$cm-teasable-prefix}__wrapper {
        @include stretch-absolute();
      }
    }

    // hide picture (with and without link)
    .#{$cm-teasable-prefix}__wrapper > a,
    .#{$cm-teasable-prefix}__wrapper > .#{$cm-teasable-prefix}__picture-box {
      display: none;
    }

    // if no image exists absolute width of text-content is doubled
    // => leave half the space to the left and right
    .#{$cm-teasable-prefix}__caption {
      max-width: 100%; // IE11 fix

      // hide arrow
      &:after {
        display: none;
      }
    }

    // reposition the play button
    .#{$cm-teasable-prefix}__play {
      right: 50%;
    }
  }
}
