.#{$prefix}tree-icon, .#{$prefix}tree-icon-parent-expanded {
  color: $cm-white;
  font-size: $cm-font-size-medium;
}

.#{$prefix}tree-arrows .#{$prefix}grid-tree-node-expanded .#{$prefix}tree-expander {
  color: $cm-white;
  font-size: $cm-font-size-medium;
}