.#{$cm-slick-carousel-prefix} {
  @if $cm-slick-carousel-custom-arrows-enabled {
    // show left/right icons as arrows
    .slick-arrow {
      &::before {
        display: block;
        height: 24px;
        width: 24px;
        background-size: cover;
      }
    }

    .slick-prev {
      &::before {
        background-image: url(../../img/arrow-prev.svg);
      }
    }

    .slick-next {
      &::before {
        background-image: url(../../img/arrow-next.svg);
      }
    }
  }

  &--inner-arrows {
    .slick-arrow {
      top: 0;
      bottom: 0;
      height: auto;
      transform: none;
      width: 5%;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .slick-prev {
      z-index: 1; // otherwise the prev-arrow is behind the slides
      left: 0;
      @if $cm-slick-carousel-custom-arrows-enabled {
        &:before {
          background-image: url(../../img/arrow-prev-inner.svg);
        }
        &:hover {
          &:before {
            background-image: url(../../img/arrow-prev-inner-hover.svg);
          }
        }
      }
    }

    .slick-next {
      right: 0;
      @if $cm-slick-carousel-custom-arrows-enabled {
        &:before {
          background-image: url(../../img/arrow-next-inner.svg);
        }
        &:hover {
          &:before {
            background-image: url(../../img/arrow-next-inner-hover.svg);
          }
        }
      }
    }
  }

}
