.cm-product-assets {
  &__slideshow {
    .cm-teasable {
      padding: 0 0 2px 0;
    }
  }

  &__carousel.cm-slideshow--carousel-chooser {
    .cycle-slide {
      padding: 2px;
    }

    .cycle-slide-active {
      background-color: $hybris-orange;
    }

    .cm-teasable {
      padding: 0;
    }
  }

  &-downloads {
    &__title {
      font-size: inherit;
      font-weight: bold;
      color: $hybris-text !important;
      text-transform: uppercase;
    }

    &__item {
      font-size: inherit;
    }

    &__list {
      padding-left: 18px;
    }
  }
}
