// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Superhero
========================================================================================================================

Contains styling definitions for all content types as cm-superhero.
- cm-superhero
*/

.#{$prefix}superhero {
  position: relative;
  // fixed the glitch in the responsive image
  height: 100%; height: 100vh;
  width: 100%; width: 100vw;

  &__image {
    background-color: $brand-primary;
    // fixed the glitch in the responsive image
    // therefore use vh and vw and not %
    height: 100%; height: 100vh;
    width: 100%; width: 100vw;
  }

  &__dimmer {
    @include dimmer();
  }

  &__banderole,
  &__cta {
    @include banderole(3%);
  }

  &__button,
  &__text,
  &__headline {
    color: palette(white);
    margin-top: 0;
    margin-bottom: $padding-large-horizontal;
  }

  &__headline,
  &__text {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  &__text {
    font-size: font-format(h4, mobile);

    @include breakpoint(sm-and-up) {
      font-size: font-format(h4);
    }
  }
}

.#{$prefix}image--superhero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include stretch-absolute();
}
