// Imports
@import "../base/imports";
@import "../utils/imports";

// Set variable to configure _hero.scss from default-templates brick.
// Have a look the _hero.scss for all available variables.

$cm-hero-headline-color: palette(white);
$cm-hero-picture-background-color: palette(white);

// Load brick scss file for heros
@import "../../../../../lib/bricks/generic-templates/sass/hero";

.#{$cm-hero-prefix} {
  &__play {
    transform: translate(50%, 90%); // a little higher for spacing
    @include breakpoint(xs) {
      transform: translate(50%, 110%);
    }
  }

  @include breakpoint(xs) {
    &__text {
      display: none;
    }
  }
}
