// Imports
@import "../base/imports";
@import "../utils/imports";

$cm-tag-padding-base-vertical: $padding-base-vertical;
$cm-tag-padding-base-horizontal: $padding-base-horizontal;
$cm-tag-padding-small-vertical: $padding-small-vertical;
$cm-tag-item-background-color: $brand-primary;
$cm-tag-item-border-color: $brand-primary;
$cm-tag-item-color: palette(white);

// Load brick scss file for teasers
@import "../../../../../lib/bricks/generic-templates/sass/tags";

.#{$cm-tag-prefix} {

  &__title {
    display: inline-block;
    margin: 0;
    padding-right: $padding-base-horizontal;
  }
}