/*! CoreMedia Studio - Styles for fragmented Preview */

.cm-page-preview {
  background: none #f1f1f1;
  margin: 0;
  padding: 0;
  height: auto; /* reset 100% height by themes to avoid scrollbars caused by margin of items */
}

/* fragmented item */
.cm-preview-item {
  margin-top: 2px;
}

/* studio look like buttons in fragment preview */
.cm-page-preview .toggle-button {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpiYBgFgxPIA/F7IP6PBb+HyhME+lgMeQ8VJxogG0KyZmRD7pOreRTQCwAEGABc9hDJtWMwowAAAABJRU5ErkJggg==') 6px center no-repeat #C8C6C6;
}

.cm-page-preview .toggle-button.toggle-off {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADFJREFUeNpiYBgF+IA8pQa8B2J9Sgz4T6kh/yk15D8Svj9gLqAoDCiOBfkRkt4BAgwACLgQycQ7s9wAAAAASUVORK5CYII=');
}

.cm-page-preview .toggle-container-off {
  display: none;
}

/* headline */
.cm-preview-item__headline {
  display: block;
  padding: 4px 6px 4px 24px;
  font: 700 12px/32px 'Roboto', 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', 'Helvetica', sans-serif;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.cm-preview-item__headline:hover,
.cm-preview-item__headline:focus,
.cm-preview-item__headline:active {
  color: #000;
  text-decoration: none;
}

/* content */
.cm-preview-item__container {
  display: block;
  max-width: 1200px;
  padding: 20px;
}

.cm-preview-content {
  padding: 15px;
  background-color: #ffffff;
  transition: box-shadow 0.25s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
}

.cm-preview-missing-key {
  font-weight: bold;
  background-color: #e74c3c;
}

/* images */
.cm-preview__image .cm-image {
  position: relative; /* reset responsive image */
  /* at least show the spinning icon of the background (32x32) */
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
}

/* display developer-mode symbol on top right */
.cm-preview-developer-mode {
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 999;
  background-color: #e74c3c;
  padding: 7px 9px;
  border-radius: 5px 0 0 5px;
  cursor: default;
}

.cm-preview-developer-mode__icon {
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAABGlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+zRnCkAAAAXXRSTlMAAQIDBAUGBwgJCgsODxgaJicoKSotLzAxMzk7PUZKTE9QUVJUVVZZXF1eYWJjZmdoaWtsbXR4eX6FiYyPlJianZ6go6aorbK0tbe8vsXK2dze5ujp6/Hz9ff5+/1wsAonAAABHUlEQVQoz42S11KbYQxEz/djegmdGNMceoeEZqrBJHQw1Qb7vP9rcGEwP0OZ6Eqj1UirXcF/RpiZILlZ9xGo1ZWiPbHO8JIcW7IcVevr2gGQXCuP8dPd0QBEw4EzTdM8wLk2gloH0akXiyXNzxWcTWUcpN3cdIAB36Jcz7H3rzsO1ZvNgyd1iISuFe0GYEqzEbTk9QdheY7kfgPw5+TJQgKgXa+3uqpEVQ8BiFQz74C/nwHpnYLFBECH3mZ7Y/JMarYGWvPaRvg9T/9eIwA59W47V1LTJHTjsUI3GTvQJo6qB4Z/Xi6X9Gr6wYVUxiE6K5IQhiNOdZzm1DsRAVi1MrdvtfyLXndGXu350qi4tUsPcWvfnmGc7u36b97lGQOvSU4gttpoAAAAAElFTkSuQmCC') left center no-repeat;
  width: 24px;
  height: 24px;
}

.cm-preview-developer-mode__icon span {
  display: none;
}
