// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

// Variables
$cm-grid-gutter-width: $grid-gutter-width;

// Import Bricks
@import "../../../../../lib/bricks/livecontext/sass/grids";

//fix CMS-7557
body {
  background-color: $page-background-color;
}

.cm-container {
  * {
    box-sizing: border-box;
  }

  &.container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.rowContainer > .row {
  margin-left: 0;
  margin-right: 0;
}
