// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

.cm-teaser--megamenu {
  &__picture-box {
    @include aspect-ratio-box(1, 1);
  }
}

.subcategoryList {
  .cm-dropdown-image {
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

/*
since categoryList is using display: inline-block in the default ibm base.css to position li
next to each other we have to be very careful with whitespaces or we set the font-size to 0 and reset it for the li.
*/

.categoryList {
  font-size: 0;
  > li {
    font-size: 12px;
  }
}


