// Imports
@import "../base/imports";
@import "../../../../../lib/sass/utils/imports";

$cm-shoppable-teaser-quickinfo-color: #373737;
$cm-shoppable-teaser-specialprice-color: #B54850;

// Import Bricks
@import "../../../../../lib/bricks/shoppable-video/sass/shoppable-video";

.#{$cm-shoppable-prefix}{
  &__teaser {
    color: #373737;
    border: 1px solid #CCCBCB;
  }
}

.cm-shoppable__teaser .cm-button {
  background-image: linear-gradient(#FBBB0B, #EE9505);
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: 14px;
  line-height: 29px;
  min-height: 29px;
  text-align: center;
}

.cm-shoppable__teaser .cm-button .cm-button__text {
  padding: 0 21px;
}