@include breakpoint(md) {
  .mfp-content .cm-teaser__quickinfo {
    margin: 0 auto;
    position: relative;
    width: 514px;
  }

  .mfp-content .cm-teaser__quickinfo .cm-quickinfo__property--pricing,
  .mfp-content .cm-teaser__quickinfo .cm-quickinfo__property--pricing + .cm-quickinfo__property--controls {
    display: table-cell;
    vertical-align: middle;
    width: 254px; // 50% does not work
  }
}

@include breakpoint(xs) {
  .cm-quickinfo {
    &__controls a {
      margin-top: 4px;
      display: inline-block;
    }
  }
}

@include breakpoint(sm-and-up) {
  .cm-quickinfo--main.cm-quickinfo--active {
    display: none;
  }

  .cm-quickinfo {
    box-sizing: border-box;
    background: #fff;
    width: 306px;
    padding: 43px 3px 3px; /* leave space for absolute positioned title, which is always shown */
    box-shadow: 0 0 10px #000;

    &__title {
      position: absolute;
      font-weight: normal;
      top: 0;
      left: 0;
      margin: 5px 13px;
      line-height: 2rem;
    }

    &__text {
      margin: 0.5rem;
    }

    &__text p {
      margin: 0;
    }

    &__close {
      border: none;
      background: transparent;
      padding: 0;

      position: absolute;
      right: 10px;
      top: 10px;

      .cm-icon__symbol {
        content: "";
        margin: 0;
        width: 20px;
        height: 20px;
        font-size: 1.2rem;
        background-color: transparent;
        color: #373737;
        z-index: 2;
        &:before {
          line-height: 1;
        }
      }
    }

    &__listprice,
    &__offerprice {
      white-space: nowrap;

      display: table-cell;
      /* margin is ignored in table-cell */
      padding: 8px;
    }

    &__button {
      margin: 8px 0;
    }

    &__property {
      @include breakpoint(sm-and-up) {
        display: block;
        text-align: left;
      }
    }

    &__property--add-to-cart {
      position: absolute;
      right: 0.5rem;
      top: 14.75rem;
      background: #fff;

      @include breakpoint(sm-and-up) {
        background: #FFFFFF;
        height: auto;
        margin-top: -5rem;
        position: absolute;
        right: 1rem;
        width: auto;
      }

      a {
        display: block;
        padding: 0.5rem;

        @include breakpoint(sm) {
          display: block;
          padding: 0.5rem;
        }
      }
    }

    &__property--image,
    &__property--general {
      display: block;
    }

    &__property--controls {
      text-align: right;
    }

    &__image {
      overflow: hidden;

      &.cm-aspect-ratio-box {
        @include aspect-ratio-box(4, 3);
      }
      .cm-aspect-ratio-box__content {
        @include stretch-absolute();
      }
    }

    //Title and text
    &__text {
      margin: 0.5rem;
      color: palette(black);
    }

    &__text p {
      margin: 0;
    }

    .cm-button-group__button {
      color: palette(black);
      border-color: palette(black);
      display: inline-block;
      &:hover {
        color: palette(white);
        background-color: palette(black);
      }
    }

    .cm-teasable--alternative & {
      &__title {
        color: palette(black);
      }

      &__text {
        color: palette(black);
      }

      &__cta {
        color: palette(black);
        border-color: palette(black);
      }
    }

    &--active {
      position: static;
    }

    &__property--pricing {
      .cm-price {
        color: palette(black);
      }
    }

  }
}

/* in two-column-layout the quickinfo has to be smaller */
.cm-grid--lc-two-column .cm-quickinfo {
  width: 246px;
  &__text {
    display: none;
  }
}

.cm-quickinfo--compact .cm-quickinfo__property--pricing,
  /* only if pricing is present */
.cm-quickinfo--compact .cm-quickinfo__property--pricing + .cm-quickinfo__property--controls {
  display: table-cell;
  vertical-align: middle;
}

/* only if pricing is present */
.cm-quickinfo--compact .cm-quickinfo__property--pricing + .cm-quickinfo__property--controls {
  width: 243px;
}

.cm-quickinfo--compact .cm-quickinfo__listprice,
.cm-quickinfo--compact .cm-quickinfo__offerprice {
  display: block;
  /* see base implementation */
  padding: 0;
  margin: 0 0.5rem;
}

.cm-imagemap__quickinfo {
  @include breakpoint(sm-and-up) {
    position: absolute;

    .cm-quickinfo__picture-box {
      margin-top: 12px;
    }
  }
}
