@include extjs-tab-ui(
  $ui: "cm-styleguide"
);

@if $cm-include-tab-sg-tabpanel {
  $_ui: "sg-tabpanel";
  $_ui-background-color: $cm-blue-8;
  $_ui-font-color: $cm-spot-grey-3;
  @include extjs-tab-ui(
    $ui: $_ui,
    $ui-font-size: $cm-font-size-medium * 2,
    $ui-font-weight: $cm-font-weight,
    $ui-line-height: $cm-font-size-medium * 2,
    $ui-border-radius: $tab-border-radius,
    $ui-border-width: 0 0 1px 0,
    $ui-border-color: transparent,
    $ui-border-color-focus: transparent,
    $ui-border-color-over: transparent,
    $ui-border-color-active: $cm-spot-blue-3,
    $ui-border-color-focus-over: transparent,
    $ui-border-color-focus-active: $cm-spot-blue-3,
    $ui-border-color-disabled: transparent,

    $ui-outline-width-focus: 0,
    $ui-color-active: $cm-spot-blue-3,
    $ui-color-focus-active: $cm-spot-blue-3,
    $ui-color: $_ui-font-color,
    $ui-color-focus: $_ui-font-color,
    $ui-color-over: $_ui-font-color,
    $ui-color-focus-over: $_ui-font-color,
    $ui-background-color: $_ui-background-color,
    $ui-background-color-over: $_ui-background-color,
    $ui-background-color-active: $_ui-background-color,
    $ui-background-color-focus-active: $_ui-background-color
  );
}