$cm-hero-headline-color: #fff;
$cm-hero-picture-background-color: #eee;
$cm-hero-padding-base-horizontal: 15px;
$cm-hero-padding-large-horizontal: 15px;
$cm-hero-media-aspect-ratio-by-breakpoint: ("xs-and-up": (3, 4), "sm-and-up": (16, 9), "md": (5, 2), "lg": (3,1));
