$cm-quickinfo-image-aspect-ratio-x: 1;
$cm-quickinfo-image-aspect-ratio-y: 1;

$cm-quickinfo-mobile-image-aspect-ratio-x: 3;
$cm-quickinfo-mobile-image-aspect-ratio-y: 4;

$cm-quickinfo-width: 306px !default;