// Variables
// Set variables to configure _hero.scss from default-templates brick.
// Have a look the _hero.scss for all available variables.
$cm-hero-headline-color: #ffffff;
$cm-hero-caption-bottom: 24px;
$cm-hero-padding-base-horizontal: 0;
$cm-hero-padding-large-horizontal: 0;
$cm-hero-default-size: 24px;
$cm-hero-media-aspect-ratio-by-breakpoint: ("xs-and-up": (5, 2));
