//Variables
// Set varibales to configure _teaser.scss from default-templates brick.
// Have a look the _teaser.scss for all available variables.
$cm-teasable-prefix: "cm-teasable";
$cm-teasable-dimmer-display: none;
$cm-teasable-padding-base-horizontal: 0;
$cm-teasable-padding-large-vertical: 0;
$cm-teasable-padding-large-horizontal: 0;