<div id="footer">
  <div
  id="footer_content" class="clearfix">
    <div class="copyrightBox"> ©
      Copyright 2017. CoreMedia AG. CoreMedia
      Corporation. All Rights Reserved.
    </div>
    <div class="poweredBox"> Powered by CoreMedia CMS <span class="icon-coremedia"></span></div>
  </div>
</div>