
  <div class="cm-row row">
    <div id="cm-footerNavigation" class="cm-footer">
      <div class="cm-container cm-footer__container">
        <div class="row row-grid--flex">
          <section class="cm-footer__section">
            <h6 class="cm-footer__list-title">CoreMedia</h6>
            <ul class="cm-footer__list">
              <li class="cm-footer__list-item active">
                <a href="https://www.coremedia.com/en">Home</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/platform">Platform</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/customers">Customers</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/events">Events</a> </li><li class="cm-footer__list-item">
              <a href="https://blog.coremedia.com" target="_blank">Blog</a>
            </li>
            </ul>
          </section>
          <section class="cm-footer__section">
            <h6 class="cm-footer__list-title">About Us</h6>
            <ul class="cm-footer__list">
              <li class="cm-footer__list-item">
                <a href="https://www.coremedia.com/en/about/company">Company</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/about/contact">Contact</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/careers">Careers</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/about/supervisory-board">Board</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/about/press">Press</a>
            </li>
            </ul>
          </section>
          <section class="cm-footer__section">
            <h6 class="cm-footer__list-title">Services</h6>
            <ul class="cm-footer__list">
              <li class="cm-footer__list-item">
                <a href="https://www.coremedia.com/en/services/professional-services">Professional Services</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/services/training">Training</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/support">Support</a> </li><li class="cm-footer__list-item">
              <a href="https://www.coremedia.com/en/services/downloads">Downloads</a>
            </li>
            </ul>
          </section>
          <section class="cm-footer__section">
            <h6 class="cm-footer__list-title">Get in Touch</h6>
            <ul class="social">
              <li class="social__item">
                <a href="https://www.facebook.com/coremedia" class="social__link" title="facebook">
                  <i class="icon-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="https://twitter.com/coremedia_news" class="social__link" title="twitter">
                  <i class="icon-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.youtube.com/user/coremediachannel" class="social__link" title="youtube">
                  <i class="icon-youtube" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="https://de.linkedin.com/company/coremedia-ag" class="social__link" title="linkedin">
                  <i class="icon-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.xing.com/companies/coremediaag" class="social__link" title="xing">
                  <i class="icon-xing" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <ul class="cm-footer__list">
              <li class="cm-footer__list-item">
                <a href="tel:+1.703.945.1079" title="Phone Number">+1.703.945.1079 - Americas</a><br>
                <a href="tel:+44.207.849.3317" title="Phone Number">+44.207.849.3317 - EMEA</a><br>
                <a href="tel:+49-40-325587-0" title="Phone Number">+49.40.325587.0 - DACH</a><br>
              </li>
              <li class="cm-footer__list-item">
                <a href="mailto:info@coremedia.com" title="E-Mail">info@coremedia.com</a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="cm-row row">
    <footer id="cm-footer" class="cm-footer">
      <div class="container">
        <ul class="cm-footer__list--centered">
          <li class="cm-footer__list-item">
            <a class="" href="https://www.coremedia.com/en/privacy">Privacy</a> </li>
          <li class="cm-footer__list-item">
            <a class="" href="https://www.coremedia.com/en/legal">Legal</a> </li>
          <li class="cm-footer__list-item last">
            <a class="" href="https://www.coremedia.com/en/imprint2">Imprint</a> </li>
        </ul>
        <p class="cm-footer__copyright">© Copyright 2018. CoreMedia AG. CoreMedia Corporation. All Rights Reserved.</p>
      </div>
    </footer>
  </div>
