// Variables
$cm-hero-headline-color: #fff;
$cm-hero-caption-bottom: 24px;
$cm-hero-padding-base-horizontal: 0;
$cm-hero-padding-large-horizontal: 0;
$cm-hero-default-size: 24px;
$cm-hero-media-aspect-ratio-by-breakpoint: ("xs-and-up": (1, 1), "sm-and-up": (2.35, 1));
