$cm-quickinfo-image-aspect-ratio-x: 2;
$cm-quickinfo-image-aspect-ratio-y: 3.1;

$cm-quickinfo-mobile-image-aspect-ratio-x: 1;
$cm-quickinfo-mobile-image-aspect-ratio-y: 1;
$cm-quickinfo-width: 470px;