.sg-icon-grid {
  $block: "sg-icon-grid";
  display: block;
  width: 100%;
  font-size: 0;

  .#{$block}__item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
  }
}

.sg-icon {
  $block: "sg-icon";

  .#{$block}__icon {
    display: inline-block;
    padding: 10px;
    color: #000;
    font-size: 16px;
    line-height: 1;
    height: 16px;
  }

  .#{$block}__id {
    font-size: 15px;
    padding: 10px;
    line-height: 1.3333;
    font-weight: bold;
    word-wrap: break-word;
  }

  &--medium {
    .#{$block}__icon {
      font-size: 24px;
    }
  }
  &--large {
    .#{$block}__icon {
      font-size: 32px;
    }
  }
}