//default variables
$cm-shoppable-prefix: "cm-shoppable" !default;
$cm-shoppable-teaser-background-color: #fff !default;
$cm-shoppable-teaser-quickinfo-color: #fff !default;
$cm-shoppable-teaser-specialprice-color: #fff !default;